@import './../../admin.scss';

.login_holder_admin{
    background: linear-gradient(120deg, #00e4d0, #5983e8);
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    .login_area{
        width: 500px;
        background: #fff;
        padding: 20px;
        border-radius: 4px; 
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .bottom_sec{
        .col-6{
            &:last-child{
                text-align: right;
                font-size: 13px;
            }
            a{
                cursor: pointer;
            }
        }
    }
    .logo{
        display: block;
        text-align: center;
        margin: 60px 0 0;
        img{
            cursor: pointer;
        }
    }
}

