<div class="login_holder_admin">
  <a class="logo"><img src="assets/images/logo.png" alt="logo"></a>
  <div class="login_area">
    <div class="d-flex align-items-center justify-content-center">
      <div class="col-12">
        <h2 class="card-description">
          Reset Password
        </h2>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <input type="hidden" formControlName="email" />
            <input type="hidden" formControlName="token" />
            <label for="new_password" class="col-sm-2 col-form-label">New Password</label>
            <div class="col-sm-9 input-group">
              <input type="password" #pwd0 class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="newPassword"
              [ngClass]="{ 'is-invalid': submitted && i.newPassword.errors }">
              <div class="input-group-append" (click)="pwd0.type=pwd0.type=='text' ? 'password' : 'text'">
                  <a class="btn btn-default reveal">
                      <i class="fa" [ngClass]="{'fa-eye':pwd0.type=='text', 'fa-eye-slash':pwd0.type=='password'}"></i>
                  </a>
              </div>
              <div *ngIf="submitted && i.newPassword.errors" class="invalid-feedback">
                  <div *ngIf="i.newPassword.errors.required">Password is required</div>
                  <div *ngIf="resetPasswordForm.controls['newPassword'].errors.pattern" >Password must be 8 to 20 characters long and should contain uppercase letters, lowercase letters, numbers, and special characters.</div>
              </div>
            </div>
          </div>  
          <div class="form-group row">
            <label for="confirm_password" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-9 input-group">
              <input type="password" #pwd class="form-control" id="exampleInputPassword2" placeholder="Confirm Password" formControlName="confirmPassword"
              [ngClass]="{ 'is-invalid': submitted && i.confirmPassword.errors }">
              <div class="input-group-append" (click)="pwd.type=pwd.type=='text' ? 'password' : 'text'">
                  <a class="btn btn-default reveal">
                      <i class="fa" [ngClass]="{'fa-eye':pwd.type=='text', 'fa-eye-slash':pwd.type=='password'}"></i>
                  </a>
              </div>
              <div *ngIf="submitted && i.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="i.confirmPassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="i.confirmPassword.errors.mustMatch">Passwords must match</div>
              </div>    
            </div>
          </div>

          <div class="row bottom_sec">
            <div class="col-6">
              <button type="submit" class="btn btn-success mr-2">Submit</button>
            </div>
            <div class="col-6">
              <a routerLink="/admin/login">Login</a>
            </div>
          </div>

        </form>
        <div class="alert alert-danger" *ngIf="serverErrorMessages">
          {{serverErrorMessages}}
        </div>
      </div>
    </div>
  </div>
</div>