<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <section class="content-header">
                <h1 class="adddrop">Site Settings <small>This section allows to show Site Settings</small></h1>
                <ol class="breadcrumb">
                    <li><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Site Settings</li>
                </ol>
            </section>
            <div class="table-responsive">
                <table class="table table-striped table-bordered row-bordered">
                    <thead>
                        <tr>
                            <th>Setting Name</th>
                            <th>Setting Value</th>
                            <th> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let setting of sitesetting">
                            <td>{{ setting.setting_name }}</td>
                            <td *ngIf="setting.id != '3'">{{ setting.setting_value }} </td>
                            <td *ngIf="setting.id == '3'">{{ this.currencyName }} </td>
                            <td>
                                <a title="edit" routerLink="/admin/sitesettings-edit/{{ setting.id}}"><i
                                        class="fa fa-fw fa-edit"></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>