@import '../../admin';
.influencer_list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
}

.assign_influencer_heading{
    display: block;
    color: #9d9d9d;
    font-weight: 500;
    padding-bottom: 25px;
}

.influencer_image {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}


