<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop">Campaign Details<small>This section allows show Campaign Details</small></h1>
        <ol class="breadcrumb">
          <li><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/admin/campaign"> Campaign List</a></li>
          <li class="active">Campaign Details</li>
        </ol>
      </section>

      <div class="card-body">


        <div class="assign_influencer_heading">Assign Influencer</div>
        <ul class="influencer_list">
          <li *ngFor="let influencer of influencerData">
            <img _ngcontent-c5="" _ngcontent-c6="" alt="profile image" class="influencer_image"
              src="assets/uploads/influencer/thumb/{{ influencer.picture }}">
            <br><span>{{ influencer.first_name+" "+influencer.first_name }}</span>
            <br>
            <span
              class="btn btn-{{ (influencer.status == 'Accepted'?'info':((influencer.status == 'Submitted')?'warning':((influencer.status == 'Approved')?'primary':((influencer.status=='Rejected')?'danger':'secondary')))) }}">{{ influencer.status }}</span>
          </li>
        </ul>

      </div>


      <div class="details_table">
        <ul>
          <li>
            <strong>Campaign Name</strong>
            <span>{{ record.campaign_name }}</span>
          </li>

          <li>
            <strong>Campaign Post Date</strong>
            <span>{{ record.post_date | date: 'MMM d, yyyy h:mm aa' }}</span>

          </li>

          <li>
            <strong>Campaign Start Date</strong>
            <span>{{ record.start_date | date: 'MMM d, yyyy h:mm aa' }}</span>
          </li>

          <li>
            <strong>Invitation Accept Expiry Date</strong>
            <span>{{ record.end_date | date: 'MMM d, yyyy h:mm aa' }}</span>
          </li>



          <li>
            <strong>Platform Targeted At</strong>
            <span>
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </span>
          </li>

          <li>
            <strong>ROI Of The Campaign</strong>
            <span>{{ record.roi }}</span>
          </li>
          <li>
            <strong>Number Of Tags</strong>
            <span>{{ record.tag }}</span>
          </li>
          <li>
            <strong>Number Of Followers</strong>
            <span>{{ record.followers}}</span>
          </li>
          <li>
            <strong>Number Of Like & Comments On</strong>
            <span>{{ record.likes}}</span>
          </li>
          <li>
            <strong>Popular Region</strong>
            <span>{{ record.region}}</span>
          </li>
          <li>
            <strong>Potential Impressions</strong>
            <span>{{ record.impression}}</span>
          </li>

          <li class="full_width">
            <strong>Campaign Details</strong>

            {{ record.campaign_details }}

          </li>

          <!-- <li>
                <strong>Campaign Deliverables</strong>
                <span>27th March 2020</span>
              </li>

              <li>
                <strong>Acepted Budget Of this campaign</strong>
                <span>$320k</span>
              </li> -->

          <li>
            <strong>Status</strong>
            <span>{{ record.status }}</span>
          </li>

        </ul>


      </div>



      <a routerLink="/admin/campaign" class="btn btn-primary">Back</a>

    </div>
  </div>
</div>