<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop"> Update Site Setting<small>This section allows you to Update Site Setting</small></h1>
        <ol class="breadcrumb">
          <li><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/admin/sitesettings">Site Settings List</a></li>
          <li class="active"> Update Site Setting</li>
        </ol>
      </section>
      <form class="forms-sample" [formGroup]="sitesettingForm" #sitesettingFormData="ngForm" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="id" [(ngModel)]="id">
        <div class="form-group row">
          <label for="setting_name" class="col-sm-2 col-form-label">Setting Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="setting_name" [(ngModel)]="setting_name"
              placeholder="Enter Setting Name" formControlName="setting_name"
              [ngClass]="{ 'is-invalid': submitted && sitesettingForm.controls.setting_name.errors }">
            <div *ngIf="submitted && sitesettingForm.controls.setting_name.errors" class="invalid-feedback">
              <div *ngIf="f.setting_name.errors.required">Please Enter Setting Name </div>
            </div>
          </div>
        </div>
        <div class="form-group row" *ngIf="this.id != 3">
          <label for="setting_value" class="col-sm-2 col-form-label">Setting Value</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="setting_value" [(ngModel)]="setting_value"
              placeholder="Enter Setting Value" formControlName="setting_value"
              [ngClass]="{ 'is-invalid': submitted && f.setting_value.errors }">
            <div *ngIf="submitted && f.setting_value.errors" class="invalid-feedback">
              <div *ngIf="f.setting_value.errors.required">Please Enter Setting Value </div>
            </div>
          </div>
        </div>

        <div class="form-group row" *ngIf="this.id == 3">
          <label for="setting_value" class="col-sm-2 col-form-label">Setting Value</label>
          <div class="col-sm-9">
            <select class="form-control" formControlName="setting_value" [(ngModel)]="setting_value"
            [ngClass]="{ 'is-invalid': submitted && f.setting_value.errors }" tabindex="6">
              <option [value]="currencyData.id" *ngFor="let currencyData of allCurrencies">
                {{ currencyData.name | titlecase }}</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-success mr-3">Submit</button>
        <button class="btn btn-light" type="button" (click)="cancelForm()">Cancel</button>
      </form>
    </div>
  </div>
</div>