<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
      <div class="card-body">
          <!-- <h4 class="card-title"> Faq List</h4> -->
          <section class="content-header">
                <h1 class="adddrop">Notification Templates<small>This section allows show Notification Templates list</small></h1>
                <ol class="breadcrumb">
                    <li><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active"> Notification Template List</li>
                </ol>
            </section>
          <div class="table-responsive">
              <table class="table table-striped table-bordered row-bordered"  datatable [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
              <thead>
                  <tr>
                      <th>Title</th>
                      <th class="th-sm">Content</th>
                      <th> Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr  *ngFor = "let dataList of notificationTemplates">
                      <td> {{ dataList.title}}</td>
                      <td> {{ dataList.content | strStripHtml}}</td>
                      <td>  
                          <span style="padding: 4px"><a routerLink="/admin/edit-notification-templates/{{ dataList.id }}"  title="edit"><i class="fa fa-fw fa-edit"></i> </a></span>
                      </td>
                  </tr>
              </tbody>
              </table>
          </div>
      </div>
  </div>
</div>