
<footer class="footer_holder">
  <div class="brands_holder"><!--brands_holder-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="brands_area">
            <strong>Brands</strong>
            <ul>
              <li>
                <figure><img src="assets/front_end/images/brands-icon1.png" alt=""></figure>
              </li>
              <li>
                  <figure><img src="assets/front_end/images/brands-icon2.png" alt=""></figure>
              </li>
              <li>
                  <figure><img src="assets/front_end/images/brands-icon3.png" alt=""></figure>
              </li>
              <li>
                  <figure><img src="assets/front_end/images/brands-icon4.png" alt=""></figure>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--brands_holder-->

  <div class="container">
    <div class="row">
      <div class="col-md-8 footer_nav">
        <ul>
          <li><a>Creators</a></li>
          <li><a>Blog</a></li>
          <li><a>Help</a></li>
          <li><a>About us</a></li>
          <li><a>Contact us</a></li>
          <li><a>Privacy policy</a></li>
          <li><a>Sitemap</a></li>
        </ul>
        <span>© Copyright 2019 influnaire All Rights Reserved</span>
      </div>
      <div class="col-md-2 footer_social">
        <strong>follow us on</strong>
        <ul>
          <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="col-md-2 footer_sub">
        <div class="form">
          <input type="text" class="input_type" placeholder="Enter Email ID">
          <button type="submit">Go</button>
        </div>
      </div>
    </div>
  </div>
</footer>
