<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop">Campaign List<small>This section allows show campaign list</small></h1>
        <ol class="breadcrumb">
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/brand-owner"> Brand Owner List</a></li>
          <li class="active">Campaign List</li>
        </ol>
      </section>
    </div>
    <div *ngIf="sucees_message">
      <div class="alert alert-success">
        {{sucees_message}}
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped" class="table table-striped table-bordered row-bordered" datatable
          [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
          <thead>
            <tr>
              <th>Campaign Name</th>
              <th>Brand Owner Name</th>
              <th>Campaign Post Date</th>
              <th>Campaign Start Date</th>
              <th>Campaign End Date</th>
              <th>Status</th>
              <th *ngIf="!id">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cdata of campaignData; let i= index;">
              <td routerLink="{{(id >0)?'../../brand-job-details/'+ cdata.id+'/'+id:'../campaign-details/'+cdata.id}}" style="cursor: pointer; color: blue;" style="cursor: pointer; color: blue;"> {{ cdata.campaign_name}} </td>
              <td> {{ cdata.fname +' '+ cdata.lname }} </td>
              <td>{{ cdata.post_date | date }}</td>
              <td>{{ cdata.start_date | date}}</td>
              <td> {{ cdata.end_date | date }} </td>
              <td><span class="campaign_status">{{ cdata.status }}</span></td>
              <td *ngIf="!id">
                <span style="padding: 4px">
                  <a routerLink="/admin/edit-campaign/{{ cdata.id }}"><i class=" fa fa-fw fa-edit"
                      title="Edit Campaign Details"> </i></a></span>
               <span style="padding: 4px"> <a routerLink="/admin/message-conversation/{{ cdata.id }}"><i class="fa fa-lg fa-comments"
                  title="Message-conversation"> </i></a>
                </span>
                 <span style="padding: 4px"> <a routerLink="/admin/campaign-details/{{ cdata.id }}"><i class=" fa fa-eye"
                      title="Campaign Details"> </i></a>
                </span>

                

                <span *ngIf="appove_button">
                  <span *ngIf="cdata.status == 'Pending'">
                    <button type="button" class="btn btn-info" title="Click to Approve"
                      (click)="changeStatus(cdata.id)">Approve</button>
                  </span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>