<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<section class="content-header">
				<h1 class="adddrop">Influencer List <small>This section allows show you Influencer List</small></h1>
				<ol class="breadcrumb">
					<li><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Influencer List</li>
				</ol>
			</section>
			<div class="float-right p-2"><a routerLink="/admin/influencer-add"> <button type="button"
						class="btn btn-primary">+Add Influencer</button> </a></div>

			<div class="table-responsive">
					<table class="table table-striped" class="table table-striped table-bordered row-bordered" datatable
					[dtOptions]="dtOptions" [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
					<thead>
						<tr>
							<th> Image </th>
							<th> Platform </th>
							<th>First name</th>
							<th>Last name</th>
							<th>Email</th>
							<th>Total Earning</th>
							<!-- <th>Company Name</th> -->
							<th>Contact Number</th>
							<th>Status</th>
							<th>Action</th>
						</tr>

					</thead>
					<tfoot style="display: table-header-group;">
						<tr>
							<th></th>
							<th><input class="form-control" type="text" placeholder="Search" /></th>
							<th><input class="form-control" type="text" placeholder="Search" /></th>
							<th><input class="form-control" type="text" placeholder="Search" /></th>
							<th><input class="form-control" type="text" placeholder="Search" /></th>
							<!-- <th><input class="form-control" type="text" placeholder="Search" /></th> -->
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</tfoot>
					<tbody>
						<tr *ngFor="let creatorList of creatorData; let i= index;">
							<td class="py-1">
								<img _ngcontent-c6="" alt="" class="img-sm rounded-circle mb-4 mb-md-0" src="{{creatorList.picture}}"></td>
							<td>
								<div *ngIf="creatorList.platform_id==0">Normal User</div>
								<div *ngIf="creatorList.platform_id==1">Facebook</div>
								<div *ngIf="creatorList.platform_id==2">Twitter</div>
								<div *ngIf="creatorList.platform_id==3">Youtube</div>
							</td>
							<td> {{ creatorList.first_name}}</td>
							<td> {{ creatorList.last_name}} </td>
							<td> {{ creatorList.email}} 
								<i class="fa fa-check text-success" aria-hidden="true" *ngIf="creatorList.is_email_verified"></i>
								<i class="fa fa-times text-danger" aria-hidden="true" *ngIf="!creatorList.is_email_verified"></i>
							</td>
							<td> {{ creatorList.total_earning}} </td>
							<!-- <td> {{ creatorList.company_name}}</td> -->
							<td> {{ creatorList.contact_number}}</td>
							<td>  <button type="button" class="btn btn-sm {{ (creatorList.status=='Active')?'btn-success' :'btn-danger'}}" (click)="changeStatus(creatorList.id,creatorList.status)"> {{ creatorList.status}}</button>
							</td>
							<td>
								<span style="padding: 4px"><a routerLink="/admin/influencer-transaction-details/{{ creatorList.id }}"  title="Transaction"><i class=" fa fa-eye"></i> </a></span>
								<span style="padding: 4px">
									<a routerLink="/admin/influencer-details/{{ creatorList.id }}" title="Details"><i
											class=" fa fa-list"></i> </a>
								</span>
								<span style="padding: 4px" ><a
									routerLink="/admin/campaign/{{ creatorList.id }}" title="Campaigns"><i
										class="fa fa-bandcamp"></i> </a></span>
								<span style="padding: 4px" *ngxPermissionsOnly="['influencer_edit']"><a
										routerLink="/admin/influencer-edit/{{ creatorList.id }}" title="Edit"><i
											class=" fa fa-pencil-square-o"></i> </a></span>
								<span style="padding: 4px" *ngxPermissionsOnly="['influencer_delete']"> <i class=" fa fa-trash-o"
										(click)="deleteCreator(creatorList.id)" title="Delete"> </i></span>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>