<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
  <div class="card-body">
    <section class="content-header">
        <h1 class="adddrop"> Add Admin Role Permission<small>Admin Menu Role Permission For [ {{ roleTypeName }} ]</small></h1>
        <ol class="breadcrumb">
              <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
              <li class="active"> Admin Role Permission</li>                     
        </ol>
    </section>
    <div class="table-responsive">
      <table class="table table-striped table-bordered row-bordered">
        <thead>
          <tr>
            <th>Menu Name</th>
            <th>View</th>
            <th>Add</th>
            <th>Edit</th>
            <th>Delete</th>							
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let menu of menuPermissionData">
            <td>{{ menu.menu_name }}</td>
            <td><input type="checkbox" [checked] = "menu.permission_view" (click) = "permission(menu.menu_id,'view',$event)" class="form-control col-sm-2"></td>
            <td><input type="checkbox" [checked] = "menu.permission_add" (click) = "permission(menu.menu_id,'add',$event)" class="form-control col-sm-2"></td>
            <td><input type="checkbox" [checked] = "menu.permission_edit" (click) = "permission(menu.menu_id,'edit',$event)" class="form-control col-sm-2"></td>
            <td><input type="checkbox" [checked] = "menu.permission_delete" (click) = "permission(menu.menu_id,'delete',$event)" class="form-control col-sm-2"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

