
<div class="col-12 stretch-card">
  <div class="card">
        <div class="card-body hd">
          <section class="content-header">
                  <h1 class="adddrop"> {{ actionName }} Email Template<small>This section allows you to {{ actionName }} Email Template</small></h1>
                  <ol class="breadcrumb">
                        <li><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a routerLink="/admin/email-template">Email Template List</a></li>
                        <li> {{ actionName }} Email Template</li>                     
                  </ol>
            </section>
        </div>
  </div>
</div>
<div class="col-12 stretch-card">
  <div class="card">
      <div class="card-body">
          <form class="forms-sample" [formGroup]="Form" #FormData="ngForm" (ngSubmit)="onSubmit()">
          <input type="hidden" formControlName="id" [(ngModel)]="id">
      

        <div class="col-sm-12">
                  
          <!-- <div class="form-group row">
              <label for="card-title" class="col-sm-2 col-form-label">Template Name: </label>
              <div class="col-sm-9">
                  <input type="text" class="form-control" id="template_name" [(ngModel)]="template_name" placeholder="Enter Template Name" formControlName="template_name" [ngClass]="{ 'is-invalid': submitted && f.template_name.errors }">
                  <div *ngIf="submitted && f.template_name.errors" class="invalid-feedback">
                      <div *ngIf="f.template_name.errors.required">Please enter template name </div>
                  </div>
              </div>
          </div> -->

          <div class="form-group row">
            <label for="card-title" class="col-sm-2 col-form-label">Template Subject : </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="subject" [(ngModel)]="subject" placeholder="Enter subject" formControlName="subject" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }">
                <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                    <div *ngIf="f.subject.errors.required">Please enter subject </div>
                </div>
            </div>
        </div>

          <div class="form-group row">
              <label for="Description" class="col-sm-2 col-form-label">Template Description:</label>
              <div class="col-sm-9">
                  <editor [init]="tinyMceSettings" id="description" formControlName="description" [(ngModel)]="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></editor>
                  <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required">Please enter from name </div>
                </div>
                  
                </div>
          </div>
      </div>

        <!-- <div class="form-group row">
            <label for="card-title" class="col-sm-2 col-form-label">From Name: </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="from_name" [(ngModel)]="from_name" placeholder="Enter From Name" formControlName="from_name" [ngClass]="{ 'is-invalid': submitted && f.from_name.errors }">
                <div *ngIf="submitted && f.from_name.errors" class="invalid-feedback">
                    <div *ngIf="f.from_name.errors.required">Please enter from name </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="card-title" class="col-sm-2 col-form-label">From Email*: </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="from_email" [(ngModel)]="from_email" placeholder="Enter From Email" formControlName="from_email" [ngClass]="{ 'is-invalid': submitted && f.from_email.errors }">
                <div *ngIf="submitted && f.from_email.errors" class="invalid-feedback">
                    <div *ngIf="f.from_email.errors.required">Please enter template name </div>
                </div>
            </div>
        </div> -->

          
          <!-- <div class="form-group row">
              <label for="status" class="col-sm-2 col-form-label">Status :</label>
              <div class="col-sm-3">
                  <select [(ngModel)]='status' id="status" class="form-control" formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                  <option value="Active" >Active</option>
                  <option value="Inactive">Inactive</option>
                  </select>
                  <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                      <div *ngIf="f.status.errors.required">Please select Your Admin Status</div>
                  </div>
              </div>
          </div> -->


          <button type="submit" class="btn btn-success mr-3">Submit</button>
          <button class="btn btn-light" type="button" (click) = "cancelForm()">Cancel</button>
          </form>
      </div>
  </div>
</div>

