ul, li{ margin: 0; padding: 0; list-style: none;}

.menagement_dtls{
    .jobHeading{
        .topSec{
            .btn{
                border-radius: 30px;
                color:  #ffc107;
                border: 1px solid #ffc107;
            }
        }
        .btmSec{
             img{
                 width: 50px;
                 height: 50px;
                 object-fit: cover;
             }
        }     
    }
    .asigndList{
        img{
             width: 90px;
             height: 100px;
             object-fit: fill;
         }
     }
     .tabList{
         img{
             border-radius: 50%;
             width: 40px;
             height: 40px;
         }
         li.bg-white{
             position: relative;
             box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
             -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
             &:after{
                 position: absolute;
                 height: 100%;
                 width: 5px;
                 right: -4px;
                 background: #fff;
                 content: '';
             }
         }
     }
    .attachList{
        li img{
            width: 50px;
            height: 55px;
            object-fit: contain;
        }
    }
    .progressList{
        li{
            border-left: 1px dashed #eaeaea;
            max-width: 180px;
            position: relative;
            padding-right: 25px;
            float: left;
            height: 130px;
            i.fa{
                position: absolute;
                font-size: 22px;
                font-size: 10px;
                padding: 7px;
                border-radius: 50%;
                border: 1px solid #eaeaea;
                color: #eaeaea;
                background: #fff;
            }
            div.box{
                 margin-left: 25px;
                 border-radius: 5px;
                 background: #eaeaea;
                 color: #a4a4a4;
                 padding: 15px;
                 width: 120px;
                 p{
                     line-height: 17px;
                 }
            }
            &.top{
                 border-bottom: 2px solid #eaeaea;
                 padding-top: 10px;
                 div.box{
                     margin-bottom: 25px;
                 }
                 i.fa{
                     bottom:-11px;
                     left: -11px; 
                 }
            }
            &.btm{
                 border-top: 2px solid #eaeaea;
                 margin-top: 128px;
                 padding-bottom: 10px;
                 div.box{
                     margin-top: 25px;
                 }
                 i.fa{
                     top:-14px;
                     left: -11px; 
                 }
                 &.lst{
                     border-top: 0;
                     div.box{
                         position: absolute;
                         right: 50px;
                     } 
                 }
            }
            &.active{
             border-color: rgba(64, 168, 242, 0.8);
 
             i.fa{
                 border-color: rgba(64, 168, 242, 0.8);
                 color: rgba(64, 168, 242, 0.8);
             }
             div.box{
                 background: rgba(64, 168, 242, 0.2);
                 color: 64, 168, 242;
             }
            }
        }
    }
    .msgList{
        li{
            .leftBox img{
                max-width: 50px;
                max-height: 50px;
                object-fit: contain;
            }
            .w-20{
                min-width: 170px;
            }
            &.resive{
                .rightBox{
                 background: #308ee0;
                 color: #fff;
                 max-width: 40%;
                }     
            }
        }
    }
    .btn-warning{
        border-radius: 18px;
        background: #ffc107;
    }
 } 
 
 
     .popupMsg{
         li{
             flex-direction: column-reverse;
             .leftBox{
                 width: 100%;
                 display: flex;
                 justify-content: space-between;
             }
             .rightBox{
                 width: 100%;
                 padding: 10px;
                 margin: 0 0 15px;
             }
         }
     }
     
     .social-icon i{
        width: 30px;
        height: 30px;
        line-height: 28px;
        border-radius: 50%;
        text-align: center;
     }
     .social-icon .fa-facebook {
        color: #3b579d;
        border: 1px solid #3b579d;
    }
    .social-icon .fa-instagram {
        color: #dc4a38;
        border: 1px solid #dc4a38;
    }
    .social-icon .fa-youtube {
        color: #e52d27;
        border: 1px solid #e52d27;
    }

