
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <section class="content-header">
          <h1 class="adddrop">Transaction List<small> This section allows show transaction list</small></h1>
          <ol class="breadcrumb">
            <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a routerLink="/influencer"> Influencer List</a></li>
            <li class="active">Transaction List</li>
          </ol>
        </section>
        <div class="float-right p-2"><a (click)="exportExcel(service_type.value,payment_date.value)"> <button type="button" 
          class="btn btn-primary">Export to Excel</button> </a></div>

      </div>
      
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped" class="table table-striped table-bordered row-bordered" datatable
            [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
            <thead>
              <tr>
                  <th>Campaign Name</th>               
                  <th>Service Type</th>
                  <th>Payment on</th>
                  <th>Payment Release Type</th>
                  <th>Invoice No.</th>
                  <th>Payment Status</th>
                  <th>Total Amount</th>
                  <th>Net Amount</th>
              </tr>
            </thead>
            <tfoot style="display: table-header-group;">
              <tr>
                <th></th>
                <th><input #service_type matInput class="form-control" type="text" name="service_type" placeholder="Service Type" /></th>   
                <th><input #payment_date class="form-control" type="date" name="payment_date" placeholder="Search Post Date" /></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let brandOwnerList of brandOwnerTransactionData; let i= index;">
                  <td>{{ brandOwnerList.campaign_name}}</td>
                  <td>{{ brandOwnerList.service_type}} </td>
                  <td *ngIf="brandOwnerList.payout_type == 'Auto'">{{ brandOwnerList.created_at | date:'yyyy-MM-dd' }} </td>
                  <td *ngIf="brandOwnerList.payout_type == 'Manual'">
                      {{ (brandOwnerList.manual_payout_on !== null) ? (brandOwnerList.manual_payout_on | date: 'yyyy-MM-dd') : "N/A" }}
                  <td>{{ brandOwnerList.payout_type}}
                    &nbsp;
                  <span *ngIf="brandOwnerList.payout_type == 'Manual' && brandOwnerList.manual_payout_status == 'PENDING'">
                      <button type="button" class="btn btn-success" title="Release Payment"
                      (click)="openModal(template,brandOwnerList.IAT_ID)">Release Payment</button>
                  </span>
                  </td>
                  <td>
                    <a *ngIf="brandOwnerList.payout_status == 'SUCCESS'" (click)="captureScreenPdf(brandOwnerList.invoice_number)" title="Download Invoice">{{ brandOwnerList.invoice_number}}</a></td>
                  <td >
                    <span *ngIf="brandOwnerList.payout_type == 'Auto' && brandOwnerList.payout_status != 'SUCCESS'">
                      <button type="button" class="btn btn-danger" title="{{ brandOwnerList.payout_status }}"
                        >Unpaid</button>
                    </span>
                    <span *ngIf="brandOwnerList.payout_type == 'Auto' && brandOwnerList.payout_status == 'SUCCESS'">
                      <button type="button" class="btn btn-success" title="{{ brandOwnerList.payout_status }}"
                        >Paid</button>
                    </span>
                    <span *ngIf="brandOwnerList.payout_type == 'Manual' && brandOwnerList.manual_payout_status == 'PENDING'">
                      <button type="button" class="btn btn-danger" title="{{ brandOwnerList.manual_payout_status }}"
                        >Unpaid</button>
                    </span>
                    <span *ngIf="brandOwnerList.payout_type == 'Manual' && brandOwnerList.manual_payout_status == 'SUCCESS'">
                      <button type="button" class="btn btn-success" title="{{ brandOwnerList.manual_payout_status }}"
                        >Paid</button>
                    </span>
                </td>
                <td>{{ brandOwnerList.total_amount}} </td>
                <td>{{ brandOwnerList.net_amount}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

<!-- Modal Add -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Release Manual Payment</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="inventoryForm" (ngSubmit)="saveinventory()">
      <div class="form-group">
        <label>Select Payment Date <sup>*</sup></label>
        <div class="input-group">
          <input [ngModel]="this.influencerId" type="hidden" formControlName="influencerId" class="form-control" value="{{this.influencerId}}">
          <input [ngModel]="this.paymentId" type="hidden" formControlName="paymentId" class="form-control" value="0">
          <input [ngModel]="this.paymentRDate" type="date" formControlName="paymentRDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.paymentRDate.errors }">
          <div class="input-group-prepend">
          </div>
          <div *ngIf="submitted && f.paymentRDate.errors" class="invalid-feedback">
            <div *ngIf="f.paymentRDate.errors.required">Payment Date is required</div>
          </div>
        </div>
      </div>
      <div class="btn_area">
        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</ng-template>