@import '../../admin';

.img_social_net{
    .card-title{
        font-size: 1.5rem;
    }
    .ticket-details{
        h3{
            font-size: 1.2rem;
            margin: 0 0 12px;
        }
        .d-flex{
            span{
                display: block;
                margin: 10px 0;
                color: #0056b3;
            }
        }
    }
}


    .message_row{
        padding: 0;
        li{
            display: flex;
            justify-content: space-between;
            // border: 2px solid #ccc;
            padding: 10px;
            border-radius: 3px;
            margin: 0 0 20px;
            align-items: center;
            
            flex-wrap: wrap;
            background: linear-gradient(120deg, #00e4d0, #5983e8);
            a{
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
            }
            b{
                display: flex;
                align-items: center;
                color: #fff;
                figure{
                    margin: 0 15px 0 0;
                }
            }
            strong{
                color: #fff;
            }
            span{
                color: #fff;
            }
            p{
                color: #fff;
            }
            ul{
                width: 100%;
                margin: 15px 0 0;
                display: none;
                li{
                    border: 0;
                    // background: #eee;
                    
                    width: 90%;
                    cursor: inherit;
                    background: rgba(247,174,44,0.8);
                    box-shadow: 0 2px 10px rgba(0,0,0,.2);
                    p{
                        width: 100%;
                        margin: 0;
                        padding: 8px 0 0;
                    }
                    &:nth-child(even){
                        float: right;
                        background: rgba(110,112,110,0.5);
                        box-shadow: 0 2px 5px rgba(0,0,0,.2);
                    }
                }
            }
        }
    }



