<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop">Campaign Message Histroy<small>This section allows show Campaign Message Histroy</small></h1>
        <ol class="breadcrumb">
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/brand-owner"> Campaign List</a></li>
         
          <li class="active">Campaign Message Histroy</li>
        </ol>
      </section>
    </div>

    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card img_social_net">

          <div class="card-body">
            <h2 class="card-title mb-4">{{campain_name}}</h2>

            <div class="col-12">
            <ul class="message_row">
            <li  *ngFor="let  messgConversation of messageList | keyvalue; index as i;" (click)="show_hide_message('ok',i);">
              <a>
              <b>
                  <figure> <img class="img-sm rounded-circle mb-4 mb-md-0" src="./assets/uploads/influencer/thumb/{{messgConversation.value.image}}"
                    alt="profile image"></figure>
                    <strong>  Utpal Poulik</strong>
              </b>
              <strong>Message History</strong>
                <span></span>
              </a>
                <ul  id="viewMessage_{{i}}">
                  <li *ngFor="let viewMessage of messgConversation.value.messageList" >
                    <b>
                        <figure> <img class="img-sm rounded-circle mb-4 mb-md-0" src="{{ (viewMessage.message_from=='Influencer'?'./assets/uploads/influencer/thumb/'+viewMessage.infulencer_profile_img:'./assets/uploads/brand_owner/thumb/'+viewMessage.company_logo) }}"
                          alt="profile image"></figure>
                          <strong> {{viewMessage.created_at |date: 'medium'}} </strong>
                    </b>
                      <p>
                          {{viewMessage.message}}
                      </p>
                  </li>

                </ul>

            </li>    

         
       

            </ul>


           

          </div>
        </div>
      </div>
    </div>
  </div>
</div>