
<div class="col-12 stretch-card">
    <div class="card">
        <div class="card-body hd">
            <section class="content-header">
                <h1 class="adddrop"> Add Cms Page<small>This section allows you to add Cms page</small></h1>
                <ol class="breadcrumb">
                        <li><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a routerLink="/admin/cms"> Cms Page List</a></li>
                        <li class="active"> Add Cms page</li>                     
                </ol>
            </section>
        </div>
    </div>
</div>
<div class="col-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" [formGroup]="Form" #FormData="ngForm" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="id" [(ngModel)]="id">
        

          <div class="col-sm-12">
                    
            <div class="form-group row">
                <label for="card-title" class="col-sm-2 col-form-label">Title (English) : </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="title_en" [(ngModel)]="title_en" placeholder="Enter Page Title" formControlName="title_en" [ngClass]="{ 'is-invalid': submitted && f.title_en.errors }">
                    <div *ngIf="submitted && f.title_en.errors" class="invalid-feedback">
                        <div *ngIf="f.title_en.errors.required">Please Enter Page Title </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="Description" class="col-sm-2 col-form-label">Description(English) :</label>
                <div class="col-sm-9">
                    <editor [init]="tinyMceSettings" id="description_en" formControlName="description_en" [(ngModel)]="description_en"></editor>
                </div>
            </div>

            <div class="form-group row">
                <label for="short_description_en" class="col-sm-2 col-form-label">Short Description(English) : </label>
                <div class="col-sm-9">
                    <textarea id="Short_desc_en"  formControlName="Short_desc_en" cols="30" rows="4" type="text" class="form-control" [(ngModel)]="shortdescription_en"></textarea>
                </div>
            </div>

        </div>


     <div class="form-group row">
                <label for="title_arr" class="col-sm-2 col-form-label">Title for Arabic :</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="title_ar" [(ngModel)]="title_ar" placeholder="Enter Page Title" formControlName="title_ar">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputPassword2" class="col-sm-2 col-form-label">Description For Arabic : </label>
                <div class="col-sm-9">
                    <editor [init]="tinyMceSettings" id="description_ar" formControlName="description_ar" [(ngModel)]="description_ar" ></editor>
                </div>
            </div>
            <div class="form-group row">
                <label for="short_desc_ar" class="col-sm-2 col-form-label">Short Description(Arabic) : </label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="short_desc_ar" formControlName="Short_desc_ar"  cols="30" rows="4" [(ngModel)]="shortdescription_ar"></textarea>
                </div>
           </div>



            <div class="form-group row">
                <label for="meta_title" class="col-sm-2 col-form-label">Meta Title : </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="meta_title" [(ngModel)]="meta_title" placeholder="Enter Meta Title" formControlName="meta_title">
                </div>
            </div>
            <div class="form-group row">
                <label for="meta_tag" class="col-sm-2 col-form-label">Meta Tag : </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="meta_tag" [(ngModel)]="meta_tag" placeholder="Enter Meta Tag" formControlName="meta_tag">
                </div>
            </div>
            <div class="form-group row">
                <label for="meta_description" class="col-sm-2 col-form-label">Meta Description : </label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="meta_description" formControlName="meta_description" [(ngModel)]="meta_description" cols="30" rows="4"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="status" class="col-sm-2 col-form-label">Status :</label>
                <div class="col-sm-3">
                    <select [(ngModel)]='status' id="status" class="form-control" formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                    <option value="Active" >Active</option>
                    <option value="Inactive">Inactive</option>
                    </select>
                    <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                        <div *ngIf="f.status.errors.required">Please select Your Admin Status</div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success mr-3">Submit</button>
            <button class="btn btn-light" type="button" (click) = "cancelForm()">Cancel</button>
            </form>
        </div>
    </div>
</div>

