<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop">{{actionName}} Brand Owner <small>This section allows {{actionName}} Brand Owner</small>
        </h1>
        <ol class="breadcrumb">
          <li><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/admin/brand-owner">Brand Owner List</a></li>
          <li class="active">{{actionName}} Brand Owner</li>
        </ol>
      </section>
    </div>
  </div>
</div>
<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <p class="card-description">
      </p>
      <form class="forms-sample" [formGroup]="brandOwnerForm" #brandOwnerFormData="ngForm" (ngSubmit)="onSubmit()">
          <h4 class="border-bottom shadow border-dark mb-4 p-2">
              Company Information
            </h4>

        <input type="hidden" formControlName="id" [(ngModel)]="id">
        <div class="form-group row">
          <label for="comapany_name" class="col-sm-2 col-form-label">Company Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="comapany_name" [(ngModel)]="comapany_name"
              placeholder="Enter Company Name" formControlName="comapany_name"
              [ngClass]="{ 'is-invalid': submitted && f.comapany_name.errors }">
            <div *ngIf="submitted && f.comapany_name.errors" class="invalid-feedback">
              <div *ngIf="f.comapany_name.errors.required">Please Enter Your Company Name </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
            <label for="card-title" class="col-sm-2 col-form-label"> Comapny Logo: </label>
            <div class="col-sm-9">
              <input type="file" class="form-control" formControlName="company_logo"  (change)="fileChangeEvent($event)"
                [ngClass]="{ 'is-invalid': submitted && f.company_logo.errors }">
              <div *ngIf="submitted && f.company_logo.errors" class="invalid-feedback">
                <div *ngIf="f.company_logo.errors.required">Please upload comapny logo </div>
              </div>
            </div>
          </div>

          <div class="form-group row" *ngIf="company_logo" >
              <label for="card-title" class="col-sm-2 col-form-label"></label>
              <div class="col-sm-9">
                <div>
                  <img src="{{company_logo}}" />
                </div>
              </div>
            </div>
  


          <div class="form-group row">
              <label for="industry" class="col-sm-2 col-form-label">Industry</label>
              <div class="col-sm-3">
                <select [(ngModel)]='industry' id="industry" class="form-control" formControlName="industry"
                  [ngClass]="{ 'is-invalid': submitted && f.industry.errors }">
                  <option value="">-Select Industry-</option>
                  <option value="{{ industryData.name | titlecase }}" *ngFor="let industryData of allIndustries">{{ industryData.name | titlecase }}</option>
                </select>
                <div *ngIf="submitted && f.industry.errors" class="invalid-feedback">
                  <div *ngIf="f.industry.errors.required">Please select industry</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
                <label for="company_type" class="col-sm-2 col-form-label">Company Type</label>
                <div class="col-sm-3">
                  <select [(ngModel)]='company_type' id="company_type" class="form-control" formControlName="company_type"
                    [ngClass]="{ 'is-invalid': submitted && f.company_type.errors }">
                    <option value="">-Select Company Type-</option>
                    <option value="1">Brand</option>
                    <option value="2">Agency</option>
                  </select>
                  <div *ngIf="submitted && f.company_type.errors" class="invalid-feedback">
                    <div *ngIf="f.company_type.errors.required">Please select company type</div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                  <label for="country" class="col-sm-2 col-form-label">Country</label>
                  <div class="col-sm-3">
                    <select [(ngModel)]='country' id="country" class="form-control" formControlName="country"
                      [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                      <option value="">-Select Country-</option>
                      <option value="{{ countryData.countryname | titlecase }}" *ngFor="let countryData of allCountries">{{ countryData.countryname | titlecase }}</option>
                    </select>
                    <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                      <div *ngIf="f.industry.errors.required">Please select country</div>
                    </div>
                  </div>
                </div>


                <h4 class="border-bottom shadow border-dark mb-4 mt-5 p-2">
                    Personal Information
                  </h4>
                  <div class="form-group row">
                      <label for="exampleInputEmail2" class="col-sm-2 col-form-label">First name</label>
                      <div class="col-sm-9">
                        <input type="email" class="form-control" id="fname" [(ngModel)]="fname" placeholder="Enter First Name"
                          formControlName="fname" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }">
                        <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                          <div *ngIf="f.fname.errors.required">Please enter your first name </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Last name</label>
                      <div class="col-sm-9">
                        <input type="email" class="form-control" id="lname" [(ngModel)]="lname" placeholder="Enter Last Name"
                          formControlName="lname" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }">
                        <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                          <div *ngIf="f.lname.errors.required">Please enter your last name </div>
                        </div>
                      </div>
                    </div>

        <div class="form-group row">
          <label for="company_ph_no" class="col-sm-2 col-form-label">Phone Number</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="company_ph_no" [(ngModel)]="company_ph_no"
              placeholder="Enter Company Phone Number" formControlName="company_ph_no"
              [ngClass]="{ 'is-invalid': submitted && f.company_ph_no.errors }">
            <div *ngIf="submitted && f.company_ph_no.errors" class="invalid-feedback">
              <div *ngIf="f.company_ph_no.errors.required">Please Enter Your Phone Number </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="email" [(ngModel)]="email" placeholder="Enter email"
              formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Please Enter Your Email </div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              <div *ngIf="f.email.errors.isEmailUnique">Email address already registerd.</div>
            </div>
          </div>
        </div>
     

        <div class="form-group row" *ngIf="isPassword">
            <label for="exampleInputPassword2" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="password" placeholder="Password" advs-compare="cpassword" parent='true' formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </div>
          </div>

          <div class="form-group row" *ngIf="isCon_Password">
              <label for="exampleInputPassword2" class="col-sm-2 col-form-label">Confirm Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="cpassword" placeholder="Confirm Password" advs-compare="password" parent='false'
                  formControlName="cpassword" [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }">
                <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
                  <div *ngIf="f.cpassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="f.cpassword.errors.compare && !f.cpassword.errors.required">Confirm password field doesn't match</div>
                </div>
              </div>
            </div>

        <!--<div class="form-group row">
          <label for="status" class="col-sm-2 col-form-label">Status</label>
          <div class="col-sm-3">
            <select [(ngModel)]='status' id="status" class="form-control" formControlName="status"
              [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
            </select>
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
              <div *ngIf="f.status.errors.required">Please select Your Admin Status</div>
            </div>
          </div>
        </div>-->
        <button type="submit" class="btn btn-success mr-3">Submit</button>
        <button class="btn btn-light" type="button" (click)="cancelForm()">Cancel</button>
      </form>
    </div>
  </div>
</div>