<div class="col-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Change Password</h4>
            <p class="card-description">
            </p>
            <div class="alert alert-danger" *ngIf="serverResponceCode==2">
	          {{serverMessage}}
	        </div>
	        <div class="alert alert-success" *ngIf="serverResponceCode==1">
	          {{serverMessage}}
	        </div>
            <form class="forms-sample" [formGroup]="changePasswordForm" #changePasswordFormData="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
                <label for="old_password" class="col-sm-2 col-form-label">Current Password</label>
                <div class="col-sm-9 input-group">
                    <input type="password" #pwd0 class="form-control" id="old_password" placeholder="Enter your current password" formControlName="old_password" [ngClass]="{ 'is-invalid': submitted && f.old_password.errors }">
					<div class="input-group-append" (click)="pwd0.type=pwd0.type=='text' ? 'password' : 'text'">
						<a class="btn btn-default reveal">
							<i class="fa" [ngClass]="{'fa-eye':pwd0.type=='text', 'fa-eye-slash':pwd0.type=='password'}"></i>
						</a>
					</div>
					<div *ngIf="submitted && f.old_password.errors" class="invalid-feedback">
                        <div *ngIf="f.old_password.errors.required">Please enter your current password </div>
                    </div>
                </div>
            </div>
            
			<div class="form-group row">
				<label for="new_password" class="col-sm-2 col-form-label">New Password</label>
				<div class="col-sm-9 input-group">
					<input type="password" #pwd1 class="form-control" id="new_password" placeholder="Enter your new password"  formControlName="new_password" advs-compare="confirm_password" parent='true' [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }">
					<div class="input-group-append" (click)="pwd1.type=pwd1.type=='text' ? 'password' : 'text'">
						<a class="btn btn-default reveal">
							<i class="fa" [ngClass]="{'fa-eye':pwd1.type=='text', 'fa-eye-slash':pwd1.type=='password'}"></i>
						</a>
					</div>
					<div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
						<div *ngIf="f.new_password.errors.required">Please enter your new password </div>
					</div>
				</div>
			</div>  
			<div class="form-group row">
				<label for="confirm_password" class="col-sm-2 col-form-label">Confirm Password</label>
				<div class="col-sm-9 input-group">
					<input type="password" #pwd2 class="form-control" id="confirm_password" placeholder="Enter confirm password"  formControlName="confirm_password" advs-compare="new_password" parent='false' [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }">
					<div class="input-group-append" (click)="pwd2.type=pwd2.type=='text' ? 'password' : 'text'">
						<a class="btn btn-default reveal">
							<i class="fa" [ngClass]="{'fa-eye':pwd2.type=='text', 'fa-eye-slash':pwd2.type=='password'}"></i>
						</a>
					</div>
					<div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
						<div *ngIf="f.confirm_password.errors.required">Please enter confirm password </div>
						<div *ngIf="f.confirm_password.errors.compare">Confirm password field doesn't match</div>
					</div>
										
				</div>
			</div>
        	
            <button type="submit" class="btn btn-success mr-3">Submit</button>
            <button class="btn btn-light" type="button" (click) = "cancelForm()">Cancel</button>
            </form>
        </div>
    </div>
</div>