@import '../frontend';
@import '../header/header.component';

.banner_holder{
    iframe{
        width: 100%;
    }
}

.banner_bottom{
    text-align: left; 
}

.home_discover{
    .widget_box{
        iframe{
            width: 100%;
            vertical-align: top;
        }
    }
}


.header{
    .normal_logo{
        display: none;
    }
    .white_logo{
        height: 65px;
    }
}
.fixed-header{
    .normal_logo{
        display: block;
    }
    .white_logo{
        display: none;
    }
}

.home_discover h2::after,
.home_discover::after{
    display: none;
}
.home_discover .widget_box{
    background: none;
    box-shadow: inherit;
}

.home_discover .widget_box_text h3{
    font-size: 33px;
    font-style: normal;
    position: relative;
    padding: 0 0 15px;
}
.home_discover .widget_box_text h3:after{
    content: "";
    border: 1px solid #33a0f3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 55px;
}
.home_discover .widget_box_text{
    padding-top: 0;
}


