<div class="col-12 stretch-card">
   <div class="card">
      <div class="card-body">
            <section class="content-header">
                    <h1 class="adddrop"> {{ actionName }} Admin Menu<small>This section allows you to {{ actionName }} Admin Menu</small></h1>
                    <ol class="breadcrumb">
                          <li><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                          <li><a routerLink="/admin/menu">Admin Menu List</a></li>
                          <li class="active"> {{ actionName }} Admin Menu</li>                     
                    </ol>
                </section>
         <p class="card-description">
         </p>
         <form class="forms-sample" [formGroup]="addmenuForm" #addmenuFormData="ngForm" (ngSubmit)="onSubmit()">
            <input type="hidden" [(ngModel)] = "id" formControlName="id">
         <div class="form-group row">
            <label for="menu_group_name" class="col-sm-2 col-form-label">Menu Group Name</label>
            <div class="col-sm-9">               
               <select formControlName = "parent_id" class="form-control" [(ngModel)]="parent_id" placeholder="Select Menu Group Name" [ngClass]="{ 'is-invalid': submitted && f.parent_id.errors }">
                  <option value="0">Select as parent</option>
                  <option *ngFor="let menuGroup of menuGroupData" [value] = "menuGroup.id">{{ menuGroup.menu_name }}</option>
               </select>

               <div *ngIf="submitted && f.parent_id.errors" class="invalid-feedback">
                  <div *ngIf="f.parent_id.errors.required">Please Select Menu Group Name </div>
               </div>
            </div>
         </div>
         <div class="form-group row">
            <label for="menu_name" class="col-sm-2 col-form-label">Menu Name</label>
            <div class="col-sm-9">
               <input type="text" class="form-control" id="menu_name" [(ngModel)]="menu_name" placeholder="Enter Menu Name" formControlName="menu_name" [ngClass]="{ 'is-invalid': submitted && f.menu_name.errors }">
               <div *ngIf="submitted && f.menu_name.errors" class="invalid-feedback">
                  <div *ngIf="f.menu_name.errors.required">Please Enter Menu Name </div>
               </div>
            </div>
         </div>
         <div class="form-group row">
            <label for="menu_slug" class="col-sm-2 col-form-label">Menu Slug</label>
            <div class="col-sm-9">
               <input type="text" class="form-control" id="menu_slug" [(ngModel)]="menu_slug" placeholder="Enter Menu Slug"  formControlName="menu_slug" [readonly]="isReadOnly" [ngClass]="{ 'is-invalid': submitted && f.menu_slug.errors }">
               <div *ngIf="submitted && f.menu_slug.errors" class="invalid-feedback">
                  <div *ngIf="f.menu_slug.errors.required">Please Enter Menu Slug </div>
               </div>
            </div>
         </div>         
         <div class="form-group row">
            <label for="menu_order" class="col-sm-2 col-form-label">Menu Order</label>
            <div class="col-sm-9">
               <input type="text" class="form-control" id="menu_order" [(ngModel)]="menu_order" placeholder="Enter Menu Order"  formControlName="menu_order" [ngClass]="{ 'is-invalid': submitted && f.menu_order.errors }">
               <div *ngIf="submitted && f.menu_order.errors" class="invalid-feedback">
                  <div *ngIf="f.menu_order.errors.required">Please Enter Menu Order </div>
               </div>
            </div>
         </div>         
         <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-3">
               <select [(ngModel)]='status' id="status" class="form-control" formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
               <option value="Active" >Active</option>
               <option value="Inactive">Inactive</option>
               </select>
               <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                  <div *ngIf="f.status.errors.required">Please select Your  Status</div>
               </div>
            </div>
         </div>
         <button type="submit" class="btn btn-success mr-3">Submit</button>
         <button class="btn btn-light" type="button" routerLink = "/admin/menu">Cancel</button>
         </form>
      </div>
   </div>
</div>