<div class="col-lg-12 grid-margin stretch-card">
   <div class="card">
      <div class="card-body">
         <section class="content-header">
                <h1 class="adddrop">Admin Menu <small>This section allows to show admin menu</small></h1>
                <ol class="breadcrumb">
                    <li><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>                          
                    <li class="active">Admin Menu</li>                     
                </ol>
        </section>
         <div class="float-right p-4"><a routerLink="/admin/menu-add"> <button type="button" class="btn btn-primary">+Add Menu</button> </a></div>
         <div class="table-responsive">
            <table class="table table-striped table-bordered row-bordered" style="width:100%" datatable [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
            <thead>
               <tr>
                  <th>Group Name</th>
                  <th>Menu Name</th>                  
                  <th>Order</th>
                  <th>Status</th>
                  <th>Action</th>
               </tr>
            </thead>
            <tbody>
               <tr  *ngFor = "let menu of menuData">
                  <td>{{ menu.group_name }} </td>
                  <td class="py-1"> {{ menu.menu_name }}</td>                  
                  <td>{{ menu.menu_order }} </td>
                  <td>{{ menu.status }} </td>
                  <td>  
                     <span style="padding: 4px"><a routerLink="/admin/menu-edit/{{ menu.id }}" title="Edit"><i class=" fa fa-pencil-square-o"></i> </a></span>                 
                  </td>
               </tr>
            </tbody>
            </table>
         </div>
      </div>
   </div>
</div>