<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <!-- <h4 class="card-title"> Cms Page List</h4> -->
            <section class="content-header">
                <h1 class="adddrop">Cms Page List<small>This section allows show cms page list</small></h1>
                <ol class="breadcrumb">
                    <li><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active"> Cms Page List</li>
                </ol>
            </section>
            <!-- <div class="float-right p-4"><a routerLink="/admin/add-cms"> <button type="button" class="btn btn-primary">+Add Page</button> </a></div> -->
            <div class="table-responsive">
                <table class="table table-striped table-bordered row-bordered" style="width:100%" datatable [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                        <th> Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor = "let pageList of cmsData">
                        <td> {{ pageList.title}}</td>
                        <td>{{ pageList.status}} </td>
                        <td>  
                            <span style="padding: 4px"><a routerLink="/admin/edit-cms/{{ pageList.id }}"  title="edit"><i class="fa fa-fw fa-edit"></i> </a></span>
                            <span style="padding: 4px"> <a routerLink="#"  title="delete"><i class=" fa fa-trash-o" (click) = "deleteCms(pageList.id)"  title="delete"> </i> </a></span>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

