<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop">Influencer Details<small>This section allows show influencer details</small></h1>
        <ol class="breadcrumb">
          <li><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/admin/influencer"> Influencer</a></li>
          <!-- <li><a routerLink="/received-invitation/1">Received Invitation</a></li> -->
          <li class="active">Invitation Details</li>
        </ol>
      </section>
    </div>
    <div class="card-body">
        <div class="details_table">
            <ul>
                <li>
                    <img alt="Brand image" class="img-sm rounded-circle mb-4 mb-md-0" src="{{ picture }}">                
                    
                  </li>

                  <li>                
                    <strong>Company Name</strong>
                    <span>{{company_name}}</span>                    
                  </li>      

              <li>
                
                <strong>Name</strong>
                <span>{{fname}} {{lname}}</span>                
              </li>

              <li>                
                <strong>Email</strong>
                <span>{{email}}</span>                    
              </li>

              <li>                
                <strong>Contact Number</strong>
                <span>{{contact_number}}</span>                    
              </li>


              <li>
                <strong>Country</strong>
                <span>England</span>
              </li>
              <li>
                  <strong>Connect With</strong>
                  <span>
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                      <i class="fa fa-youtube" aria-hidden="true"></i>
                  </span>
                </li>
              <li>
                <strong>Like per post</strong>
                <span>20k</span>
              </li>
              <li>
                <strong>Impression per post</strong>
                <span>45K</span>
              </li>
              <li>
                <strong>Comment per post</strong>
                <span>1.5k</span>
              </li>
              <li>
                <strong>Saves per post</strong>
                <span>500</span>
              </li>
              <li>
                <strong>%Audience</strong>
                <span>60% Male,40% Female</span>
              </li>
              <li>
                <strong>Engagement Ration</strong>
                <span>2:3</span>
              </li>
              
              <li>
                <strong>Send/ Received Message</strong>
                <span>54/13</span>
              </li>  
              <li>
                  <strong>Top Brand</strong>
                  <span>
                    <img alt="Brand image" class="img-sm rounded-circle mb-4 mb-md-0" src="assets/images/company_logo/bmw-300x300.jpg">
                    <img alt="Brand image" class="img-sm rounded-circle mb-4 mb-md-0" src="assets/images/company_logo/corporate-compnany.jpg">
                    <img alt="Brand image" class="img-sm rounded-circle mb-4 mb-md-0" src="assets/images/company_logo/dell_logo_3529.gif">
                  </span>
                </li>            
              <li class="full_width">
                  <strong>About Influencer </strong>
                  <span>{{description}}</span>
                </li>
            </ul>
          </div>
        <a routerLink="/admin/influencer" class="btn btn-primary">Back</a>

      </div>
    </div>
  </div>