<!DOCTYPE html>
<html>
<head>
<title>Node PDF Creator</title>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<style>
  body{background-color: #eee;}
  ul, li{ list-style: none; margin: 0; padding: 0 }
  .compare_items{
    display: inline-block; width: 100%;}
  .comparePage .compare_items .item_row .row_list li.image{height: 150px;}
  .comparePage .compare_items .item_row .row_list li{ line-height: 40px; height: 40px; text-align: right; }
  .comparePage .compare_items .item_row .row_list li.name{ height: 60px; line-height: 60px; }
  .comparePage .compare_items .item_row.item-border{ border: 1px solid #eaeaea;}
  .comparePage .compare_items .item_row.item-border .row_list li{ border-bottom: 1px solid #eaeaea; text-align: center; }
  .comparePage .compare_items .item_row .row_list li{ line-height: 40px; height: 40px; color: #212529; font-size: 12px; font-weight: 400; }
  .comparePage .compare_items .item_row .row_list li .text_midd_right a{ text-align: center; }
  .comparePage .compare_items .item_row .row_list li .text_midd_right a i{ width: 28px; height: 28px;line-height: 26px;margin: 0 1px;border-radius: 50%;color:#1e6dcf;
    border: 2px solid #1e6dcf; }
    .comparePage .compare_items .item_row .row_list li .text_midd_right a i.fa-twitter{ color:#40caf2; border-color:#40caf2; }
    .comparePage .compare_items .item_row .row_list li .text_midd_right a:last-child i{ color: #f25940; border-color: #f25940; }
    .text_blue { color: #1e6dcf;}
    .text_orange { color: #f25940;}
    .text_yellow{ color: #f3c42c; }
    .text_sky{ color: #40caf2; }
    .ml-3, .mx-3, .ml-2, .mx-2 { margin-left: 1rem;}
    .bg-white { background-color: #fff;}
    .bg_grey { background: #f3f3f3;}
    .h-auto{ height: auto; }
    .item_row{ width: 20%; float: left; }
    .d-flex{ display: flex; }
    .justify-content-around{ justify-content: space-around; }
    .h6, h6 {  font-size: 1rem;}

</style>
</head>
<body>

  <section class="comparePage" id="contentPdf" #contentPdf>
    <!--infl_search-->
    <h2 class="mb-4">Compare Influencers</h2>
    <section class="compare_items" >
      <div class="item_row mx-3">
        <ul class="row_list">
          <li class="image"></li>
          <li class="name">Name</li>
          <li>Country</li>
          <li>Nationality</li>
          <li>Platform</li>
          <li>Likes Per Post</li>
          <li>Followers</li>
          <li>Saves Per Post</li>
          <li>Comments Per Post</li>
          <li>Impression Ratio</li>
          <li>Past Jobs Completed</li>
          <li>%Of Audience</li>
          <li>Audience Country Distribution </li> 
        </ul>
      </div>
      <!-- Influncer Loop-->
      {{#each selectedInfluncersData}}
      <div class="item_row mx-2 bg-white item-border" >
        <ul class="row_list">
          <li class="image"><img width="100" src="{{#if this.picture}}{{../influencerImagePath}}{{this.picture}}{{else}}{{../accessurl}}/assets/influencers/images/no-user.jpg{{/if}}" /></li>
          <li class="name">
            <h6 class="mb-0" style="margin: 0;">{{#if this.first_name}}{{this.first_name}}{{/if}} {{this.last_name}}</h6>
          </li>
          <li>{{#if this.country}}{{this.country}}{{else}}NA{{/if}}</li>
          <li>{{#if this.nationality}}{{this.nationality}}{{else}}NA{{/if}}</li>
          <li>
              {{#if this.influencerPlatformMaps.length}}
            <div class="text_midd_right">
              {{#each this.influencerPlatformMaps}}    
              <a><img src="{{../../accessurl}}/assets/front_end/images/{{this.Platform.class_name}}.png"></a>
              {{/each}}
            </div>
            {{else}}
            NA
            {{/if}}
          </li>
          <li class="d-flex justify-content-around">
            <span class="text_blue">3k</span>
            <span class="text_orange">789</span>
            <span class="text_yellow">666</span>
            <span class="text_sky">133</span>
          </li>
          <li class="d-flex justify-content-around">
            <span class="text_blue">1k</span>
            <span class="text_orange">289</span>
            <span class="text_yellow">66</span>
            <span class="text_sky">33</span>
          </li>
          <li class="d-flex justify-content-around">
            <span class="text_blue">225</span>
            <span class="text_orange">789</span>
            <span class="text_yellow">452</span>
            <span class="text_sky">16</span>
          </li>
          <li class="d-flex justify-content-around">
            <span class="text_orange">166</span>
            <span class="text_yellow">66</span>
            <span class="text_sky">12</span>
          </li>
          <li class="d-flex justify-content-around">
            <span class="text_blue">1:1</span>
            <span class="text_orange">2:1</span>
            <span class="text_yellow">1:3</span>
            <span class="text_sky">2:3</span>
          </li>
          <li class="d-flex justify-content-around">
            <span class="text_blue">389</span>
            <span class="text_orange">167</span>
            <span class="text_yellow">452</span>
            <span class="text_sky">78</span>
          </li>
          <li>Male - 67%, Female 33%</li>
          <li>Male - 67%, Female 33%</li>
          <li class="bg_grey h-auto">
            <p class="d-flex justify-content-around">
              <span>Iraq</span>
              <span>1k</span>
            </p>
            <p class="d-flex justify-content-around">
              <span>UAE</span>
              <span>677</span>
            </p>
            <p class="d-flex justify-content-around">
              <span>Jordon</span>
              <span>122</span>
            </p>
            <p class="d-flex justify-content-around">
              <span>Qatar</span>
              <span>455</span>
            </p>
          </li>
        </ul>
      </div>
      {{/each}} <!-- End Of Loop -->
    </section>
  </section>
</body>
</html>


