<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
      <title>Invoice</title>
      <style type="text/css">
         *{margin:0;padding:0}body{font:14px/1.4 Georgia,serif}#page-wrap{width:800px;margin:0 auto}textarea{border:0;font:14px Georgia,Serif;overflow:hidden;resize:none}table{border-collapse:collapse}table td,table th{border:1px solid #000;padding:5px}#header{height:15px;width:100%;margin:20px 0;background:#222;text-align:center;color:#fff;font:bold 15px Helvetica,Sans-Serif;text-decoration:uppercase;letter-spacing:20px;padding:8px 0}#address{width:250px;height:150px;float:left}#customer{overflow:auto}#logo{text-align:right;float:right;position:relative;margin-top:25px;border:1px solid #fff;max-width:540px;max-height:100px;overflow:hidden}#logo.edit,#logo:hover{border:1px solid #000;margin-top:0;max-height:125px}#logoctr{display:none}#logo.edit #logoctr,#logo:hover #logoctr{display:block;text-align:right;line-height:25px;background:#eee;padding:0 5px}#logohelp{text-align:left;display:none;font-style:italic;padding:10px 5px}#logohelp input{margin-bottom:5px}.edit #logohelp{display:block}.edit #cancel-logo,.edit #save-logo{display:inline}#cancel-logo,#save-logo,.edit #change-logo,.edit #delete-logo,.edit #image{display:none}#customer-title{font-size:20px;font-weight:700;float:left}#meta{margin-top:1px;width:100%;}#meta td{text-align:right}#meta td.meta-head{text-align:left;background:#eee}#meta td textarea{width:100%;height:20px;text-align:right}#items{width:100%;margin:30px 0 0 0;border:1px solid #000}#items th{background:#eee; font-size: 15px;}#items textarea{width:80px;height:50px}#items tr.item-row td{border:0; border-bottom: 1px solid #666;vertical-align:top}#items td.description{width:300px}#items td.item-name{width:175px}#items td.description textarea,#items td.item-name textarea{width:100%}#items td.total-line{border-right:0;text-align:right}#items td.total-value{border-left:0;padding:10px}#items td.total-value textarea{height:20px;background:0 0}#items td.balance{background:#eee}#items td.blank{border:0}#terms{text-align:center;margin:20px 0 0 0}#terms h5{text-transform:uppercase;font:13px Helvetica,Sans-Serif;letter-spacing:10px;border-bottom:1px solid #000;padding:0 0 8px 0;margin:0 0 8px 0}#terms textarea{width:100%;text-align:center}#items td.total-value textarea:focus,#items td.total-value textarea:hover,.delete:hover,textarea:focus,textarea:hover{background-color:#ef8}.delete-wpr{position:relative}.delete{display:block;color:#000;text-decoration:none;position:absolute;background:#eee;font-weight:700;padding:0 3px;border:1px solid;top:-6px;left:-22px;font-family:Verdana;font-size:12px}
         #identity{ display: flex; justify-content: space-between; }
         #hiderow,
         .delete {
         display: none;
         }
      </style>
   </head>
   <body>
     
      <div id="page-wrap">
       <img src="{{accessurl}}/assets/images/logo.png" data-holder-rendered="true">

        {{#each selectedInfluncersData}}
         <div id="identity">
            <div id="address"></div>
            <div id="customer-title">Invoice for {{ this.campaign_name }}</div>
         </div>
         <div style="clear:both"></div>
         <div id="customer">
            <table id="meta">
               <tr>
                  <td class="meta-head">Invoice #</td>
                  <td>{{ this.invoice_number }}</td>
               </tr>
               <tr>
                  <td class="meta-head">Date #</td>
                  <td>
                     <div id="date">{{ this.paymentDate }}</div>
                  </td>
               </tr>
               <tr>
                  <td class="meta-head">Total Amount #</td>
                  <td>
                     <div class="due">${{ this.total_amount }}</div>
                  </td>
               </tr>
            </table>
         </div>
         <table id="items">
            <tr>
              <th>Campaign Name</th>
              <th>Service Type</th>
              <th>Payment Status</th>
              <th>Net amount</th>
              <th>Gross amount</th>
            </tr>
            <tr class="item-row">
               <td class="item-name">
                  <div class="delete-wpr">
                    {{ this.campaign_name }}
                  </div>
               </td>
               <td class="description">
                {{ this.service_type }}
               </td>
               <td>
                  <div class="cost">{{ this.payment_status }}</div>
               </td>
               <td>
                  <div class="qty">${{ this.net_amount }}</div>
               </td>
               <td><span class="price">${{ this.total_amount }}</span></td>
            </tr>
            <tr class="item-row">
              
            </tr>
            <tr id="hiderow">
            </tr>

             <tr>
               <td colspan="2" class="blank"> </td>
               <td colspan="2" class="total-line">Net Total</td>
               <td class="total-value">
                  <div id="subtotal">${{ this.net_amount }}</div>
               </td>
            </tr>
            <tr>
               <td colspan="2" class="blank"> </td>
               <td colspan="2" class="total-line">Admin Commission</td>
               <td class="total-value">+ ${{ this.admin_commission }}</td>
            </tr>
            <tr>
               <td colspan="2" class="blank"> </td>
               <td colspan="2" class="total-line balance">Online Charge</td>
               <td class="total-value balance">
                  <div class="due">+ ${{ this.paypal_charge_brandowner_amt }}</div>
               </td>
            </tr>
            <tr>
               <td colspan="2" class="blank"> </td>
               <td colspan="2" class="total-line">Total</td>
               <td class="total-value">
                  <div id="total">${{ this.total_amount }}</div>
               </td>
            </tr>
           
         </table>
         <div id="terms">
            <h5>Invoice</h5>
            <p></p>
         </div>
      </div>
      {{/each}}
   </body>
</html>