<div class="col-12 stretch-card">
   <div class="card">
      <div class="card-body">
         <section class="content-header">
            <h1 class="adddrop"> Add Edit Fortend Menu<small>This section allows you to add edit Fortend Menu</small></h1>
            <ol class="breadcrumb">
                  <li><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                  <li><a routerLink="/admin/front-menu"> Front-end Menu List</a></li>
                  <li class="active"> Add Edit Fortend Menu</li>                     
            </ol>
         </section>
         <form class="forms-sample" [formGroup]="addmenuForm" #addmenuFormData="ngForm" (ngSubmit)="onSubmit()">
            <input type="hidden" [(ngModel)]="id" formControlName="id">


            <div class="form-group row">
               <label for="menu_name" class="col-sm-2 col-form-label"></label>
               <div class="col-sm-9">

                  <input type="radio" formControlName="menu_position" value="0" [(ngModel)]="menu_position"
                     [checked]="header_position">
                  <label for="menu_name" class="col-sm-2 col-form-label">Header</label>

                  <input type="radio" formControlName="menu_position" value="1" [(ngModel)]="menu_position"
                     [checked]="footer_position">
                  <label for="menu_name" class="col-sm-2 col-form-label">Footer</label>
                  <div *ngIf="submitted && f.menu_position.errors" class="invalid-feedback d-block">
                     <div *ngIf="f.menu_position.errors.required">Please check menu position </div>
                  </div>

               </div>
            </div>
            <div class="form-group row">
               <label for="menu_name" class="col-sm-2 col-form-label">Menu Label</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="menu_name" [(ngModel)]="menu_name"
                     placeholder="Enter Menu Name" formControlName="menu_name"
                     [ngClass]="{ 'is-invalid': submitted && f.menu_name.errors }">
                  <div *ngIf="submitted && f.menu_name.errors" class="invalid-feedback">
                     <div *ngIf="f.menu_name.errors.required">Please enter menu name </div>
                  </div>

               </div>
            </div>
            <div class="form-group row">
               <label for="parent_id" class="col-sm-2 col-form-label">Select Parent</label>
               <div class="col-sm-9">
                  <select formControlName="parent_id" class="form-control" [(ngModel)]="parent_id"
                     placeholder="Select Menu Group Name" [ngClass]="{ 'is-invalid': submitted && f.parent_id.errors }">
                     <option value="0">Select as parent</option>
                     <option *ngFor="let getParent of menuGroupData" [value]="getParent.id">{{ getParent.menu_label }}
                     </option>
                  </select>

                  <div *ngIf="submitted && f.parent_id.errors" class="invalid-feedback">
                     <div *ngIf="f.parent_id.errors.required">Please select parent </div>
                  </div>
               </div>
            </div>

            <div class="form-group row">
               <label for="menu_name" class="col-sm-2 col-form-label"></label>
               <div class="col-sm-9">

                  <input type="radio" formControlName="link_type" value="1" [(ngModel)]="link_type"
                     [checked]="link_type_external" (click)="checkLinkType(1)">
                  <label for="menu_name" class="col-sm-2 col-form-label">External</label>

                  <input type="radio" formControlName="link_type" value="2" [(ngModel)]="link_type"
                     [checked]="link_type_internal" (click)="checkLinkType(2)">
                  <label for="menu_name" class="col-sm-2 col-form-label">Internal</label>
                  <div *ngIf="submitted && f.link_type.errors" class="invalid-feedback d-block">
                     <div *ngIf="f.link_type.errors.required">Please check link type </div>
                  </div>

               </div>
            </div>


            <div class="form-group row" *ngIf="isMenuLinkOpen">
               <label for="menu_slug" class="col-sm-2 col-form-label">Menu Link</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="menu_link" [(ngModel)]="menu_link"
                     placeholder="Enter Menu Link" formControlName="menu_link"
                     [ngClass]="{ 'is-invalid': submitted && f.menu_link.errors }">
                  <div *ngIf="submitted && f.menu_link.errors" class="invalid-feedback">
                     <div *ngIf="f.menu_link.errors.required">Please enter a link. </div>
                  </div>
               </div>
            </div>

            <div class="form-group row" *ngIf="isPageListOpen">
               <label for="menu_group_name" class="col-sm-2 col-form-label">Page List</label>
               <div class="col-sm-9">
                  <select formControlName="page_list_name" class="form-control" [(ngModel)]="menu_link"
                     placeholder="Select Page List" [ngClass]="{ 'is-invalid': submitted && f.page_list_name.errors }">
                     <option value="">Select as Page</option>
                     <option *ngFor="let PagesData of allPagesData" [value]="PagesData.slug">{{ PagesData.title }}
                     </option>
                  </select>

                  <div *ngIf="submitted && f.page_list_name.errors" class="invalid-feedback">
                     <div *ngIf="f.page_list_name.errors.required">Please select page </div>
                  </div>
               </div>
            </div>
            <div class="form-group row">
               <label for="menu_order" class="col-sm-2 col-form-label">Menu Order</label>
               <div class="col-sm-9">
                  <input type="number" class="form-control" id="menu_order" [(ngModel)]="menu_order"
                     placeholder="Enter Menu Order" formControlName="menu_order"
                     [ngClass]="{ 'is-invalid': submitted && f.menu_order.errors }">
                  <div *ngIf="submitted && f.menu_order.errors" class="invalid-feedback">
                     <div *ngIf="f.menu_order.errors.required">Please enter menu order </div>
                  </div>
               </div>
            </div>
            <div class="form-group row">
               <label for="menu_order" class="col-sm-2 col-form-label">Menu Icon Class</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="menu_icon_class" [(ngModel)]="menu_icon_class"
                     placeholder="Enter Menu Icon Class" formControlName="menu_icon_class">
               </div>
            </div>
            <div class="form-group row">
               <label for="status" class="col-sm-2 col-form-label">Status</label>
               <div class="col-sm-3">
                  <select [(ngModel)]='status' id="status" class="form-control" formControlName="status"
                     [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                     <option value="">Select Status</option>
                     <option value="Active">Active</option>
                     <option value="Inactive">Inactive</option>
                  </select>
                  <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                     <div *ngIf="f.status.errors.required">Please select Your Status</div>
                  </div>
               </div>
            </div>
            <button type="submit" class="btn btn-success mr-3">Submit</button>
            <button class="btn btn-light" type="button" (click)="Cancel()">Cancel</button>
         </form>
      </div>
   </div>
</div>