
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <section class="content-header">
          <h1 class="adddrop">Transaction List<small> This section allows show transaction list</small></h1>
          <ol class="breadcrumb">
            <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a routerLink="/brand-owner"> Brand Owner List</a></li>
            <li class="active">Transaction List</li>
          </ol>
        </section>
        <div class="float-right p-2"><a (click)="exportExcel(service_type.value,payment_date.value)"> <button type="button" 
          class="btn btn-primary">Export to Excel</button> </a></div>

      </div>
    
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped" class="table table-striped table-bordered row-bordered" datatable
            [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
            <thead>
              <tr>
                  <th>Campaign Name</th>               
                  <th>Service Type</th>
                  <th>Payment on</th>
                  <th>Invoice No.</th>
                  <th>Payment Status</th>
                  <th>Total Amount</th>
              </tr>
            </thead>
            <tfoot style="display: table-header-group;">
              <tr>
                <th></th>
                <th><input #service_type matInput class="form-control" type="text" name="service_type" placeholder="Service Type" /></th>   
                <th><input #payment_date class="form-control" type="date" name="payment_date" placeholder="Search Post Date" /></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let brandOwnerList of brandOwnerTransactionData; let i= index;">
                  <td > {{ brandOwnerList.campaign_name}}</td>
                  <td>  {{ brandOwnerList.service_type}} </td>
                  <td > {{ brandOwnerList.created_at | date:'yyyy-MM-dd' }} </td>
                  <td > 
                      <a *ngIf="brandOwnerList.payment_status == 'COMPLETED'" (click)="captureScreenPdf(brandOwnerList.invoice_number)" title="Download Invoice">
                        {{ brandOwnerList.invoice_number}}</a>
                  </td>
                  <td >
                      <span *ngIf="brandOwnerList.payment_status != 'COMPLETED'">
                        <button type="button" class="btn btn-danger" title="{{ brandOwnerList.payment_status }}"
                          >Unpaid</button>
                      </span>
                      <span *ngIf="brandOwnerList.payment_status == 'COMPLETED'">
                        <button type="button" class="btn btn-success" title="{{ brandOwnerList.payment_status }}"
                          >Paid</button>
                      </span>
                  </td>
                  <td>  {{ brandOwnerList.total_amount}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>