
a{
    cursor: pointer;
}
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.fa-pencil-square-o{
    font-size: 18px;
    color: green;
}
.fa-edit{
    font-size: 18px;
    color: green;
}
.fa-trash-o{
    font-size: 18px;
    color: red;
}
.fa-trash{
    font-size: 18px;
    color: red;
}
.fa-eye{
    font-size: 18px;
}
.fa-list{
    font-size: 18px;
}
.fa-fw{
    font-size: 18px;   
}
.fa-envelope{
    font-size: 18px;   
    color:yellowgreen;
}

fa-comments{
    font-size: 18px;   
    //color:yellowgreen;
}
.status_active{
    color: green;
}
.status_inactive{
    color: red;
}
.content-header .adddrop {
    vertical-align: bottom;
}
.content-header > h1 {
    font-weight: 600;
    text-transform: capitalize;
}
.table-responsive table thead{
    background: #eee;
}
.content-header{
    display: flex;
    justify-content: space-between;
    background: #eee;
    margin: -30px -30px 10px;
    padding: 15px 30px;
    border-radius: 5px 5px 0 0;
}
.card{
    .card-body.hd{
        padding: 0;
        .content-header{
            margin: 0;
        }
    }
}
.content-header h1{
    font-size: 1.3rem;
}
.content-header h1 small{
    display: block;
    // margin-top: 8px;
}
.content-header .breadcrumb li{
    margin-left: 19px;
    position: relative;
}
.content-header .breadcrumb li:before{
    content: "\f105";
    font-family: 'FontAwesome';
    display: block;
    position: absolute;
    right: -12px;
}
.content-header .breadcrumb li:last-child:before{
    display: none;
}
.details-view{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    border: 2px solid rgb(211, 200, 200);
    padding: 13px;
}
.details-view .row{ 
    margin-bottom : 8px;
    border-bottom: 1px solid rgb(211, 200, 200);
}
.details-view label{
    font-weight: bold;
}
.details-view .button-section{
    
}
//=========for sort icon=====//

table.dataTable thead .sorting::before, 
table.dataTable thead .sorting::after, 
table.dataTable thead .sorting_asc::before, 
table.dataTable thead .sorting_asc::after, 
table.dataTable thead .sorting_desc::before, 
table.dataTable thead .sorting_desc::after, 
table.dataTable thead .sorting_asc_disabled::before, 
table.dataTable thead .sorting_asc_disabled::after, 
table.dataTable thead .sorting_desc_disabled::before, 
table.dataTable thead .sorting_desc_disabled::after{
    bottom: 17px;
    font-size: 16px;
}
.details_table{
    margin: 0 0 20px;
}
.details_table .table td{
    white-space: inherit;
    line-height: normal;
}
.admin_permission_table input.form-control{
    width: 20px;
}
.details_table{
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li{
            list-style: none;
            width: 33.333%;
            border-bottom: 1px solid #ccc;
            padding: 8px 0;
            font-size: 14px;
            strong{
                display: block;
                color: #9d9d9d;
                font-weight: 500;
            }
            span{
                display: block;
                color: #333;
                i{
                    border: 2px solid #ccc;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin: 0 4px 0 0;
                    text-align: center;
                    line-height: 28px;
                }
                i.fa-facebook{
                    border-color: #3b5998;
                    color: #3b5998;
                }
                i.fa-twitter{
                    border-color: #1bb2e9;
                    color: #1bb2e9;
                }
            }
        }
        li.full_width{
            width: 100%;
        }
    }
}
.input-group{
    .input-group-append{
        a.btn{
            height: calc(2.25rem + 2px);
            background: transparent;
            border: 1px solid #ced4da; 
            color: #000;
            border-left: none;
        }
    }
}


/*-----------03-01-20--------------*/

.messageDetails{
    .messagePan{
      form{
        .txtarea{
          textarea{
            border: 0;
            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 7px;
            padding-left: 0;
            color: #8c8c8c;
            font-size: 13px;
            font-weight: 600;
            font-family: 'Open Sans',sans-serif;
            margin-bottom: 30px;
            background: transparent;
          }
        }
        .fileUpload{
          position: relative;
          .file{
            width: 26px;
            height: 37px;
            opacity: 0;
            position: relative;
            z-index: 2;
            cursor: pointer;
          }
          .fileUploadImg{
            position: absolute;
            left: 152px;
            top: 0;
            font-size: 30px;
          }
        }
        .submitBtn{
          background: #ed8c24;
          color: #fff;
          border: 1px solid #ed8c24;
          padding: 15px 45px;
          font-weight: 600;
          font-size: 14px;
          line-height: 100%;
          border-radius: 30px;
          position: relative;
          cursor: pointer;
        }
      }
    }
  }


 /* Style the tab */
 .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  

.menagement_dtls{
    .jobHeading{
        .topSec{
            .btn{
                border-radius: 30px;
                color:  #ffc107;
                border: 1px solid #ffc107;
            }
        }
        .btmSec{
             img{
                 width: 50px;
                 height: 50px;
                 object-fit: cover;
             }
        }     
    }
    .asigndList{
        img{
             width: 90px;
             height: 100px;
             object-fit: fill;
         }
     }
     .tabList{
         img{
             border-radius: 50%;
             width: 40px;
             height: 40px;
         }
         li.bg-white{
             position: relative;
             box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
             -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
             &:after{
                 position: absolute;
                 height: 100%;
                 width: 5px;
                 right: -4px;
                 background: #fff;
                 content: '';
             }
         }
     }
    .attachList{
        li img{
            width: 50px;
            height: 55px;
            object-fit: contain;
        }
    }
    .progressList{
        li{
            border-left: 1px dashed #eaeaea;
            max-width: 180px;
            position: relative;
            padding-right: 25px;
            float: left;
            height: 130px;
            i.fa{
                position: absolute;
                font-size: 22px;
                font-size: 10px;
                padding: 7px;
                border-radius: 50%;
                border: 1px solid #eaeaea;
                color: #eaeaea;
                background: #fff;
            }
            div.box{
                 margin-left: 25px;
                 border-radius: 5px;
                 background: #eaeaea;
                 color: #a4a4a4;
                 padding: 15px;
                 width: 120px;
                 p{
                     line-height: 17px;
                 }
            }
            &.top{
                 border-bottom: 2px solid #eaeaea;
                 padding-top: 10px;
                 div.box{
                     margin-bottom: 25px;
                 }
                 i.fa{
                     bottom:-11px;
                     left: -11px; 
                 }
            }
            &.btm{
                 border-top: 2px solid #eaeaea;
                 margin-top: 128px;
                 padding-bottom: 10px;
                 div.box{
                     margin-top: 25px;
                 }
                 i.fa{
                     top:-14px;
                     left: -11px; 
                 }
                 &.lst{
                     border-top: 0;
                     div.box{
                         position: absolute;
                         right: 50px;
                     } 
                 }
            }
            &.active{
             border-color: rgba(64, 168, 242, 0.8);
 
             i.fa{
                 border-color: rgba(64, 168, 242, 0.8);
                 color: rgba(64, 168, 242, 0.8);
             }
             div.box{
                 background: rgba(64, 168, 242, 0.2);
                 color: 64, 168, 242;
             }
            }
        }
    }
    .msgList{
        li{
            .leftBox img{
                max-width: 50px;
                max-height: 50px;
                object-fit: contain;
            }
            .w-20{
                min-width: 170px;
            }
            &.resive{
                .rightBox{
                 background: theme-color(primary);
                 color: #fff;
                 max-width: 40%;
                }     
            }
        }
    }
    .btn-warning{
        border-radius: 18px;
        background: #ffc107;
    }
 } 
 
 
     .popupMsg{
         li{
             flex-direction: column-reverse;
             .leftBox{
                 width: 100%;
                 display: flex;
                 justify-content: space-between;
             }
             .rightBox{
                 width: 100%;
                 padding: 10px;
                 margin: 0 0 15px;
             }
         }
     }
     


     

