<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
      <div class="card-body">
          <section class="content-header">
                <h1 class="adddrop">Admin Role Type <small>This section allows to show Admin Role Type</small></h1>
                <ol class="breadcrumb">
                    <li><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>                          
                    <li class="active">Admin Role Type</li>                     
                </ol>
        </section>
          <div class="float-right p-4"><a routerLink="/admin/add-admin-role"> <button type="button" class="btn btn-primary">+Add Admin Role</button> </a></div>
          <div class="table-responsive">
              <table class="table table-striped table-bordered row-bordered" style="width:100%" datatable [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
              <thead>
              
                  <tr>
                      <th>Admin type</th>                      
                      <th>Status</th>
                      <th> Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr  *ngFor = "let AdminRoleData of adminRoleData">
                      <td class="py-1"> {{ AdminRoleData.role_name }}</td>                     
                      <td>{{ AdminRoleData.status}} </td>
                      <td>  
                          <!----<span style="padding: 4px"><a routerLink="/admin/editadmin/{{ AdminRoleData.id }}"  title="edit"><i class="fa fa-fw fa-edit"></i> </a></span>
                          <span style="padding: 4px"> <a routerLink="#"  title="delete"><i class=" fa fa-trash-o" (click) = "deleteAdmin(AdminRoleData.id)"  title="delete"> </i> </a></span>-->
                          <span style="padding: 4px"><a routerLink="/admin/admin-role-permission/{{ AdminRoleData.id }}"  title="permission"><i class="fa fa-fw fa-key"></i> </a></span>
                      </td>
                  </tr>
              </tbody>
              <!----<tfoot>
              <tr>                       
                  <th><input type="text" placeholder="Search ID" name="search-first_name"/></th>
                  <th><input type="text" placeholder="Search first name" name="search-last_name"/></th>
                  <th><input type="text" placeholder="Search last name" name="search-email"/></th> 
                  </tr>
                  </tfoot>-->
              </table>
          </div>
      </div>
  </div>
</div>