@import '../frontend';

.navbar-nav{
    .nav-item{
        select{
            color: red;
            option{
                color: red;
                background: url(/assets/front_end/images/test-img1.png) no-repeat center 0;
                
                span{
                    display: block;
                    background: url(/assets/front_end/images/test-img1.png) no-repeat center 0;
                    background-size: 100px;
                }
            }
        }
    }
}

.dropdown-toggle, .dropdown-menu { width: 100%; min-width: 100%; }
.btn-group img { margin-right: 10px }
.dropdown-toggle { padding-right: 50px }
.dropdown-toggle .glyphicon { margin-left: 20px; margin-right: -40px }
.dropdown-menu>li>a:hover { background: #f1f9fd } /* $search-blue */
.dropdown-header { background: #ccc; font-size: 14px; font-weight: 700; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 5px }

.header{
   ul.dropdown-menu{
    float: none;
    display: block;
    li{
        a{
            color: #333;
            padding: 0 10px;
            &:hover{
                background: #eee;
                color: #333;
                border-radius: 0; 
            }
            img{
                margin: 11px 5px 0 0;
            }
        }
        
    }
    } 
    .btn-group{
        padding-left: 0px;
        padding-right: 0px;
       img{
        margin-right: 5px;
        } 
        .dropdown-toggle .glyphicon{
            margin-right: -17px;
        }
        .btn{
            padding: 7px 10px;
        }
    } 
    .open > .dropdown-menu {
        display: block;
    }
} 
.fixed-header{
    transition: background-color 0.5s ease;
    position: fixed;
    top: 0;
    background: rgba(246,246,246,1);
    padding: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    // transition: background-color 0.5s ease;
    .navbar-brand{
        img{
            height: 65px;
        }
    }
    ul{
        li{
            a{
                color: #333;
                &:hover{
                    color: #fff;
                }
            }
            a.active{
                color: #fff;
            }
        }
    }
}

