<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
     <div class="card-body">
        <section class="content-header">
            <h1 class="adddrop">Front-end Menu List <small>This section allows to show Front-end Menu</small></h1>
            <ol class="breadcrumb">
                <li><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>                          
                <li class="active">Front-end Menu List</li>                     
            </ol>
        </section>
        <div class="float-right p-4"><a routerLink="/admin/add-front-menu"> <button type="button" class="btn btn-primary">+Add Menu</button> </a></div>
        <div class="table-responsive">
           <table class="table table-striped table-bordered row-bordered" style="width:100%" datatable [dtOptions]="dtOptions"
           [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
           <thead>
              <tr>
                 <th>Menu Name</th>
                 <th>Menu Position</th>                  
                 <th>Menu Link</th>
                 <th>Menu Order</th>
                 <th>Status</th>
                 <th>Action</th>
              </tr>
           </thead>
           <tbody>
              <tr  *ngFor = "let menu of menuData">
                 <td>{{ menu.menu_label }} </td>               
                 <td>{{ (menu.menu_position==0) ? 'Header' : 'Footer' }}</td>
                 <td>{{ menu.menu_link}} </td>                  
                 <td>{{ menu.menu_order }} </td>

                 <td><a id="chnageStatusId" (click) = "changeStatus(menu.status)">{{ menu.status }}</a></td>
                 <td>  
                    <span style="padding: 4px"><a routerLink="/admin/edit-front-menu/{{ menu.id }}" title="edit"><i class="fa fa-fw fa-edit"></i> </a></span>
                    <span style="padding: 4px"> <i class=" fa fa-trash-o" (click) = "deleteMenu(menu.id)"  title="delete"> </i></span>                  
                 </td>
              </tr>
           </tbody>
           </table>
        </div>
     </div>
  </div>
</div>
