<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
      <div class="card-body">
          <!-- <h4 class="card-title"> Faq List</h4> -->
          <section class="content-header">
                <h1 class="adddrop">Faq List<small>This section allows show Faq list</small></h1>
                <ol class="breadcrumb">
                    <li><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active"> Faq List</li>
                </ol>
            </section>
          <div class="float-right p-4"><a routerLink="/admin/add-faq"> <button type="button" class="btn btn-primary">+Add Page</button> </a></div>
          <div class="table-responsive">
              <table class="table table-striped table-bordered row-bordered"  datatable [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
              <thead>
                  <tr>
                      <th>Question</th>
                      <th class="th-sm">Answer</th>
                      <th>Status</th>
                      <th> Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr  *ngFor = "let dataList of faqData">
                      <td> {{ dataList.question}}</td>
                      <td> {{ dataList.answer | strStripHtml}}</td>
                      <td>{{ dataList.status}} </td>
                      <td>  
                          <span style="padding: 4px"><a routerLink="/admin/edit-faq/{{ dataList.id }}"  title="edit"><i class="fa fa-fw fa-edit"></i> </a></span>
                          <span style="padding: 4px"> <a routerLink="/admin/faq-list" (click) = "deleteFaq(dataList.id)"  title="delete"><i class=" fa fa-trash-o"   title="delete"> </i> </a></span>
                      </td>
                  </tr>
              </tbody>
              </table>
          </div>
      </div>
  </div>
</div>