 <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
          <section class="content-header">
              <h1 class="adddrop">Brand Owner List <small>This section allows show you Brand Owner List</small></h1>
              <ol class="breadcrumb">
                  <li><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                  <li class="active">Brand Owner List</li>
              </ol>
          </section>

        <div class="float-right p-2"><a routerLink="/admin/add-brand-owner"> <button type="button" class="btn btn-primary">+Add Brand Owner</button> </a></div>

       
        <div class="table-responsive">

          
  <table class="table table-striped" class="table table-striped table-bordered row-bordered" style="width:100%" datatable [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
            <thead>
              <tr>
                <th>Company Logo</th>               
                <th>Company Name</th>
                <th>Phone Number</th>
                <th>Verification Status</th> 
                 <th>Name</th>
                <th>Industry</th>
                <th>Company Type</th>
                <th>Country</th>
                <th>Phone Number</th>
                <th>Email</th>
              	<th>Action</th>
              </tr>
              
            </thead>
  <tbody>
	 <tr  *ngFor = "let brandOwnerList of brandOwnerData; let i= index;">
    <td >  <img src="{{ brandOwnerList.company_logo }}" /></td>
    <td > {{ brandOwnerList.company_name}}</td>
    <td>  {{ brandOwnerList.company_ph_no}} </td>
    <td>
        <select  class="form-control" 
        (change)=updateSignupStatus(brandOwnerList.id,$event.target.value)>
        <option *ngFor="let opt of this.signUpOption" [value]="opt.key" [selected]="opt.key===brandOwnerList.is_email_verified">{{opt.value}}</option>
       </select> 
    </td> 

    <td > {{ brandOwnerList.fname + ' ' + brandOwnerList.lname}} </td>
    <td > {{ brandOwnerList.industry ? brandOwnerList.industry : 'NA' }}</td>
    <td > {{ (brandOwnerList.company_type==1)?'Brand':((
        brandOwnerList.company_type==2)?'Agency':'NA')}}</td>
    <td > {{ brandOwnerList.countryname}}</td>
    <td>  {{ brandOwnerList.company_ph_no}} </td>
		<td>  
      {{ brandOwnerList.email}}
      <i class="fa fa-check text-success" aria-hidden="true" *ngIf="brandOwnerList.is_email_verified"></i>
			<i class="fa fa-times text-danger" aria-hidden="true" *ngIf="!brandOwnerList.is_email_verified"></i>
    </td>
		<!--<td class="status_active">
        <span class='glyphicon glyphicon-lock'></span>
        <button type="button" class="btn btn-sm {{ (brandOwnerList.status=='Active')?'btn-success' :'btn-danger'}}" (click)="changeStatus(brandOwnerList.id,brandOwnerList.status)"> {{ brandOwnerList.status}}</button>
    </td>-->
		<td>
      <span style="padding: 4px"><a routerLink="/admin/brand-transaction-details/{{ brandOwnerList.id }}"  title="Transaction"><i class=" fa fa-eye"></i> </a></span>
			<span style="padding: 4px"><a routerLink="/admin/editbrand-owner/{{ brandOwnerList.id }}"  title="Edit"><i class=" fa fa-pencil-square-o"></i> </a></span>
      <span style="padding: 4px"><a routerLink="/admin/editbrand-owner/{{ brandOwnerList.id }}"  title="Add Brand"><i class=" fa fa-lg fa-plus"></i> </a></span>
      <span style="padding: 4px" ><a
        routerLink="/admin/campaign-list/{{ brandOwnerList.id }}" title="Campaigns"><i
          class="fa fa-bandcamp"></i> </a></span>
      <span style="padding: 4px"><a> <i class=" fa fa-trash-o" (click) = "deleteBrandOwnder(brandOwnerList.id)"  title="Delete"> </i></a></span> 
		</td>
	 </tr>

  </tbody>
</table>
</div>

	</div>
  </div>
</div>


<!-- Trigger the modal with a button -->
<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>