<section class="menagement_dtls">
  <section class="bg-white border">
    <div class="jobHeading p-4">
      <div class="topSec d-flex justify-content-between align-items-center">
        <p class="text-warning">ID : {{campaign.campaign_id}}</p>
        <div class="d-flex align-items-center">
          <p class="mb-0">Campaign Status</p>
          <button class="btn pl-3 pr-3 btn-outline-primary ml-4 btn-sm text-uppercase"><i
              class="fa fa-clock-o mr-1"></i>
            {{ campaign.status }}</button>
        </div>
      </div>

      <div class="btmSec d-flex align-items-center">
        <img src="assets/influencers/images/amg-logo.png" alt="" title="">
        <h3 class="ml-3">{{ campaign.campaign_name }}</h3>
        <h6 class="ml-4" *ngIf="campaign.BrandOwner">By <span
            class="font-weight-600">{{ campaign.BrandOwner.fname+' '+campaign.BrandOwner.lname }}</span></h6>
      </div>
    </div>

    <section class="row p-4">
      <section class="col-7 pr-4 border-right">
        <h5>Campaign Details</h5>
        <p class="text-gray mb-5">{{ campaign.campaign_details }}</p>


        <section class="d-flex">
          <div class="border-right pr-4">
            <h5>Accepted Budget Of The Job</h5>
            <h6 class="text-warning mb-0">${{ campaign.total_amount_invested }}</h6>
          </div>
          <div class="pl-4">
            <h5>Campaign Deliverables</h5>
            <p class="mb-0">On {{ campaign.end_date | date:'dd MMM y' }}</p>
          </div>
        </section>

        <section class="mt-5" *ngIf="campaign.CampaignAssigns">
          <h5 class="mb-3">Assigned Influencers</h5>
          <ul class="asigndList d-flex">
            <li class="mr-3" *ngFor="let campaignAssign of campaign.CampaignAssigns">
              <img *ngIf="(allPaths | json) != '{}' && campaignAssign.Influencer && campaignAssign.Influencer.picture"
                src="{{allPaths.influencerImagePath+campaignAssign.Influencer.picture}}"
                alt="{{ campaignAssign.Influencer.first_name?campaignAssign.Influencer.first_name : 'NA'}}"
                title="{{ campaignAssign.Influencer.first_name?campaignAssign.Influencer.first_name : 'NA'}}" />
              <img *ngIf="!((allPaths | json) != '{}' && campaignAssign.Influencer.picture)"
                src="assets/influencers/images/no-user.jpg"
                alt="{{ (campaignAssign.Influencer.first_name)?campaignAssign.Influencer.first_name:'NA'}}"
                title="{{ campaignAssign.Influencer.first_name?campaignAssign.Influencer.first_name : 'NA'}}" />
              <p class="mb-0 font-weight-500 mt-2">
                {{ (campaignAssign.Influencer)?campaignAssign.Influencer.first_name+' '+campaignAssign.Influencer.last_name : 'NA'}}
              </p>
            </li>
          </ul>
        </section>

      </section>

      <section class="col-5 pl-4">
        <h5>Campaign Objectives</h5>
        <p class="mb-5">{{campaign.campaign_objective?campaign.campaign_objective:'NA'}}</p>
        <h5>Platform</h5>
        <div class="d-flex align-items-center mb-5" *ngIf="campaign.CampaignPlatformMaps">
          <a class="social-icon" *ngFor="let platform of campaign.CampaignPlatformMaps"><i
              class="fa fa-{{platform.Platform?platform.Platform.class_name:''}}" aria-hidden="true"></i>
            {{platform.Platform.name?platform.Platform.name:'NA'}}</a>
        </div>
        <h5>Start Date</h5>
        <p class="mb-5">On {{ campaign.start_date | date:'dd MMM y' }} </p>
        <h5>Tentative Launch Date</h5>
        <p class="mb-5">On {{ campaign.tentative_launch_date | date:'dd MMM y' }} </p>

      </section>
    </section>

    <section class="table_row pl-4 pr-4 pb-4">
      <h5 class="mb-3">Individual Contribution</h5>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-left">Influencer Name</th>
              <th class="text-left">Platform</th>
              <th class="text-left">Post date</th>
              <th class="text-left">Completion Date</th>
              <th class="text-left">Status</th>
            </tr>
          </thead>
          <tbody *ngIf="campaign.CampaignAssigns">
            <tr *ngFor="let CampaignAssign of campaign.CampaignAssigns">
              <td class="text-left">
                <a class="d-flex align-items-center">
                  <figure>
                    <img
                      *ngIf="(allPaths | json) != '{}' && CampaignAssign.Influencer && CampaignAssign.Influencer.picture"
                      src="{{allPaths.influencerImagePath+CampaignAssign.Influencer.picture}}"
                      alt="{{ CampaignAssign.Influencer.first_name?CampaignAssign.Influencer.first_name : 'NA'}}"
                      title="{{ CampaignAssign.Influencer.first_name?CampaignAssign.Influencer.first_name : 'NA'}}" />
                    <img *ngIf="!((allPaths | json) != '{}' && CampaignAssign.Influencer.picture)"
                      src="assets/influencers/images/no-user.jpg"
                      alt="{{ (CampaignAssign.Influencer.first_name)?CampaignAssign.Influencer.first_name:'NA'}}"
                      title="{{ CampaignAssign.Influencer.first_name?CampaignAssign.Influencer.first_name : 'NA'}}" />
                  </figure>
                  <span class="ml-2 font-weight-600"
                    *ngIf="CampaignAssign.Influencer">{{CampaignAssign.Influencer.first_name+' '+CampaignAssign.Influencer.last_name}},</span>
                  <span class="ml-2 font-weight-600 text-primary">Blogger</span>
                </a>
              </td>
              <td class="text-left"
                *ngIf="CampaignAssign.Influencer && CampaignAssign.Influencer.influencerPlatformMaps">
                <a class="social-icon" *ngFor="let infPlatform of CampaignAssign.Influencer.influencerPlatformMaps"><i
                    class="fa fa-{{infPlatform.Platform.class_name}}" aria-hidden="true"></i></a>
              </td>
              <td class="text-left">{{ CampaignAssign.assign_date | date:'dd MMM y' }}</td>
              <td class="text-left">{{ CampaignAssign.expiry_date | date:'dd MMM y' }}</td>
              <td class="text-left">
                <a data-toggle="modal" class="more border-0 pl-0"
                  *ngIf="CampaignAssign.status == 'SUBMITTED'">{{CampaignAssign.status}}</a>
                <span *ngIf="CampaignAssign.status != 'SUBMITTED'">{{statusList[CampaignAssign.status]}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </section>

  <section class="messagePan">
    <h5 class="mt-4 mb-4 ml-0">Campaign Progress</h5>
    <section class="d-flex">
      <section class="leftSec col-2 pr-0">
        <ul class="tabList">
          <li class="d-flex align-items-center border-bottom py-3 p-2 cursor-pointer"
            *ngFor="let currentInfluncer of campaign.CampaignAssigns; let i = index"
            [ngClass]="{'bg-white': selectedInfluncerId == currentInfluncer.influencer_id}"
            (click)="getInfluncerData(currentInfluncer.influencer_id, currentInfluncer, currentInfluncer.status)">
            <img *ngIf="(allPaths | json) != '{}' && currentInfluncer.Influencer && currentInfluncer.Influencer.picture"
              src="{{allPaths.influencerImagePath+currentInfluncer.Influencer.picture}}"
              alt="{{ currentInfluncer.Influencer.first_name?currentInfluncer.Influencer.first_name : 'NA'}}"
              title="{{ currentInfluncer.Influencer.first_name?currentInfluncer.Influencer.first_name : 'NA'}}" />
            <img *ngIf="!((allPaths | json) != '{}' && currentInfluncer.Influencer.picture)"
              src="assets/influencers/images/no-user.jpg"
              alt="{{ (currentInfluncer.Influencer.first_name)?currentInfluncer.Influencer.first_name:'NA'}}"
              title="{{ currentInfluncer.Influencer.first_name?currentInfluncer.Influencer.first_name : 'NA'}}" />
            <div class="ml-3">
              <!-- <p class="mb-0 text-primary">20 Nov 2018</p> -->
              <p class="mb-0">{{currentInfluncer.Influencer.first_name}}</p>
            </div>
          </li>
        </ul>
      </section>
      <section class="rightSec bg-white border p-4 w-100">
        <section class="pb-5">
          <h5>{{(selectedItemObj)?selectedItemObj.Influencer.first_name:''}}</h5>
          <ul class="progressList mt-4 clearfix">
            <li
              [ngClass]="{ top: (i+1)%2, btm: !((i+1)%2), active: historyDetails.action != 'Ready to Publish' && historyDetails.action != 'Published', lst: historyDetails.action == 'Published' }"
              *ngFor="let historyDetails of campaignHistory; let i = index;">
              <i class="fa fa-circle"></i>
              <div class="box">
                <p class="mb-0">{{ historyDetails.action | titlecase }}</p>
                <p class="mb-0"><small>{{ historyDetails.createdAt | dateTimeFormat: historyDetails.createdAt: 'date-month-year h:mm' }}</small></p>

              </div>
            </li>
          </ul>
        </section>

        <section class="pb-5">
          <h5>Conversation History</h5>
          <ul class="msgList" *ngIf="influncerMessageData.length">
            <li class="mb-4" *ngFor="let message of influncerMessageSlice; let i=index"
              [ngClass]="message.message_from =='Influencer'?'d-flex align-items-center send':'resive justify-content-end p-0 d-flex align-items-center'">
              <div class="leftBox d-flex w-20 justify-content-end" *ngIf="message.message_from =='Influencer'">
                <img *ngIf="allPaths.length && message.Influencer.length && message.Influencer.picture"
                  src="allPaths.influencerImagePath+message.Influencer.picture" alt="" title="" />
                <div class="ml-3 mr-3">
                  <p class="mb-0 text-gray">{{message.created_at |  date:'dd MMM y H:mm'}}</p>
                  <p class="mb-0 font-weight-600">
                    {{ message.Influencer.first_name +' '+ message.Influencer.last_name }}</p>
                </div>

              </div>
              <div class="rightBox p-3 ml-4 shadow-1 rounded" *ngIf="message.message_from =='Influencer'">
                <p class="mb-0"> {{ message.message }}</p>
              </div>

              <div class="leftBox d-flex w-20 justify-content-end" *ngIf="message.message_from =='BrandOwner'">
                <div class="ml-3 mr-3">
                  <p class="mb-0 text-gray">{{message.created_at |  date:'dd MMM y H:mm'}}</p>
                  <p class="mb-0 font-weight-600"> {{ message.BrandOwner.fname +' '+ message.BrandOwner.lname }}</p>
                </div>

              </div>
              <div class="rightBox p-3 ml-4 shadow-1 rounded" *ngIf="message.message_from =='BrandOwner'">
                <p class="mb-0"> {{ message.message }}</p>
              </div>

            </li>
          </ul>
          <ul class="msgList" *ngIf="!influncerMessageData.length">
            <li>No message found</li>
          </ul>
          <div class="d-flex justify-content-end mt-3" *ngIf="influncerMessageData.length > 10">
            <button class="btn btn-warning text-uppercase text-white pl-4 pr-4 h6">view all messages</button>
          </div>

        </section>

        <section class="pb-5">
          <h5>View All Attachments</h5>
          <ul class="d-flex attachList mt-4">
            <li class="mr-3" *ngFor="let message of influncerMessageData">
              <a *ngIf="message.file" href="{{messagefilePath+message.file}}" target='_blank'>
                <img class="mb-2" src="assets/influencers/images/icon-pdf.png"
                  *ngIf="pdfFile.includes(message.file.split('.').pop())" />
                <img class="mb-2" src="assets/influencers/images/icon-doc.png"
                  *ngIf="docFile.includes(message.file.split('.').pop())" />
                <img class="mb-2" src="assets/influencers/images/icon-img.png"
                  *ngIf="imageFile.includes(message.file.split('.').pop())" />
                <p class="mb-0">{{message.file}}</p>
              </a>
            </li>
          </ul>
        </section>
        <div class="content_accept pb-4">
          <i class="fa fa-check" aria-hidden="true"></i> Accept Content

          <!-- <button class="btn btn-success" (click)="paid(selectedInfluncerId)" *ngIf ="status=='CONTENT_APPROVED'" id="paypal-button">
          <i class="fa fa-check" aria-hidden="true"></i> Make Payment</button> -->
        </div>


      </section>
    </section>
  </section>

</section>