<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Profile</h4>
      <p class="card-description">
      </p>
      <div class="alert alert-success" *ngIf="successMessage">
        {{successMessage}}
      </div>
      <form class="forms-sample" [formGroup]="addadminForm" #addadminFormData="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label for="fname" class="col-sm-2 col-form-label">First Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="fname" [(ngModel)]="fname" placeholder="Enter First Name"
              formControlName="fname" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }">
            <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
              <div *ngIf="f.fname.errors.required">Please Enter Your First Name </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="lname" class="col-sm-2 col-form-label">Last Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="lname" [(ngModel)]="lname" placeholder="Enter Last Name"
              formControlName="lname" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }">
            <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
              <div *ngIf="f.lname.errors.required">Please Enter Your Last Name </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" readonly id="email" [(ngModel)]="email" placeholder="Enter email"
              formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Please Enter Your Email </div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Profile Image</label>
          <div class="col-sm-9">
            <input type="file" class="form-control" (change)="fileChangeEvent($event)" />
            <img src="{{ image }}">
          </div>
        </div>
        <button type="submit" class="btn btn-success mr-3">Submit</button>
        <a class="btn btn-light mr-3" routerLink="/admin/dashboard">Back</a>
      </form>
    </div>
  </div>
</div>