<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav" >
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper">
                    <div class="profile-image">
                        <img src="{{admin_profile_img}}" alt="profile image">
                    </div>
                    <div class="text-wrapper">
                        <p class="profile-name">{{ admin_name|titlecase }}</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">
                <i class="menu-icon mdi mdi-television"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item" *ngFor="let menu of menuData | keyvalue; index as i;"    [value]="1" #variable  >
            <ng-template ngxPermissionsOnly="{{menu.value.parentMenuName}}">                    
                     <a aria-controls="user-dropdown" class="nav-link" (click)="variable.value = !variable.value"
                    [attr.aria-expanded]="!variable.value">
                    <i class="menu-icon mdi mdi-content-copy"></i>
                    <span class="menu-title">{{ menu.value.parentMenuName }}</span>
                    <i class="menu-arrow"></i></a>
                <div class="collapse" id="user-dropdown" [ngbCollapse]="variable.value">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item" *ngFor="let mn of menu.value.menuList">
                            <ng-template [ngxPermissionsOnly]="[mn.menu_slug+'_view',mn.menu_slug+'_add',mn.menu_slug+'_edit',mn.menu_slug+'_delete']">
                                <a class="nav-link" routerLink="/admin/{{ mn.menu_slug }}" routerLinkActive="active">
                                    <!-- <i class="menu-icon mdi mdi-account "></i> -->
                                    <span class="menu-title">{{ mn.menu_name }}</span>
                                </a>
                            </ng-template>
                        </li>

                    </ul>
                </div>
            </ng-template>
       
        </li>
    </ul>
</nav>

<!-- <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav" >
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper">
                    <div class="profile-image">
                        <img src="assets/images/faces/face1.jpg" alt="profile image">
                    </div>
                    <div class="text-wrapper">
                        <p class="profile-name">{{ admin_name|titlecase }}</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">
                <i class="menu-icon mdi mdi-television"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item" *ngFor="let menu_list of menuData | keyvalue; index as i;"    [value]="abc" #variable>
            <div  *ngFor="let menu of menu_list.value | keyvalue; index as i;">
               
           
            <ng-template ngxPermissionsOnly="{{menu.key}}">                    
                     <a aria-controls="user-dropdown" class="nav-link" (click)="variable.value = !variable.value"
                    [attr.aria-expanded]="variable.value">
                    <i class="menu-icon mdi mdi-content-copy"></i>
                    <span class="menu-title">{{ menu.key }}</span>
                    <i class="menu-arrow"></i></a>
                <div class="collapse" id="user-dropdown" [ngbCollapse]="!variable.value">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item" *ngFor="let mn of menu.value">
                            <ng-template [ngxPermissionsOnly]="[mn.menu_slug+'_view',mn.menu_slug+'_add',mn.menu_slug+'_edit',mn.menu_slug+'_delete']">
                                <a class="nav-link" routerLink="/admin/{{ mn.menu_slug }}" routerLinkActive="active">
                                    <i class="menu-icon mdi mdi-account "></i>
                                    <span class="menu-title">{{ mn.menu_name }}</span>
                                </a>
                            </ng-template>
                        </li>

                    </ul>
                </div>
            </ng-template>
        </div>
        </li>
    </ul>
</nav> -->