
<div class="col-12 stretch-card">
  <div class="card">
      <div class="card-body hd">
            <section class="content-header">
                <h1 class="adddrop"> Edit Notification Template<small>This section allows you to Edit Notification Template</small></h1>
                <ol class="breadcrumb">
                        <li><a routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a routerLink="/admin/notification-templates">Notification Template List</a></li>
                        <li class="active"> Edit Notification Template</li>                     
                </ol>
            </section>
      </div>
  </div>
</div>
<div class="col-12 stretch-card">
  <div class="card">
      <div class="card-body">
            <form class="forms-sample" [formGroup]="notificationTemplates" #FormData="ngForm" (ngSubmit)="onSubmit()">
                <input type="hidden" formControlName="id">
                <div class="form-group row">
                    <label for="card-title" class="col-sm-2 col-form-label">Title : </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="Enter Title" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                            <div *ngIf="f.title.errors.required">Title is required </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="title_arr" class="col-sm-2 col-form-label">Content :</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" placeholder="Enter Content" formControlName="content" [ngClass]="{ 'is-invalid': submitted && f.content.errors }"></textarea>
                        <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
                            <div *ngIf="f.content.errors.required">Content is required </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success mr-3">Submit</button>
                <button class="btn btn-light" type="button" (click) = "cancelForm()">Cancel</button>
          </form>
      </div>
  </div>
</div>

